.block-m {
  display: none;
}

@media (max-width: 820px) {
  .none-m {
    display: none;
  }
  .block-m {
    display: block;
  }
  .cont_main {
    padding-top: 116px;
  }
  .bar-menu .btn_menu {
    margin-right: 0px;
    margin-left: 0px;
  }
  .bar-menu .btn_menu span {
    display: none;
  }
  .bar-menu .input-group {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .detalle-producto {
    background-color: #FFFFFF;
    padding: 10px 10px;
    display: block;
    height: 100%;
  }
  .container_filter {
    display: none;
  }
}
/*# sourceMappingURL=media.css.map */