@font-face {
    font-family: 'corporate_s_expert_bqregular';
    src: url('fonts/corporate_s_expert_extra_bold_italic_osf-webfont.woff2') format('woff2'),
         url('fonts/corporate_s_expert_extra_bold_italic_osf-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Silka';
    src: url('fonts/Silka-Light.eot');
    src: url('fonts/Silka-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Silka-Light.woff2') format('woff2'),
        url('fonts/Silka-Light.woff') format('woff'),
        url('fonts/Silka-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Silka';
    src: url('fonts/Silka-Bold.eot');
    src: url('fonts/Silka-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Silka-Bold.woff2') format('woff2'),
        url('fonts/Silka-Bold.woff') format('woff'),
        url('fonts/Silka-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Silka';
    src: url('fonts/Silka-Medium.eot');
    src: url('fonts/Silka-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Silka-Medium.woff2') format('woff2'),
        url('fonts/Silka-Medium.woff') format('woff'),
        url('fonts/Silka-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Silka';
    src: url('fonts/Silka-SemiBold.eot');
    src: url('fonts/Silka-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Silka-SemiBold.woff2') format('woff2'),
        url('fonts/Silka-SemiBold.woff') format('woff'),
        url('fonts/Silka-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Silka';
    src: url('fonts/Silka-Regular.eot');
    src: url('fonts/Silka-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Silka-Regular.woff2') format('woff2'),
        url('fonts/Silka-Regular.woff') format('woff'),
        url('fonts/Silka-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Silka';
    src: url('fonts/Silka-Regular_1.eot');
    src: url('fonts/Silka-Regular_1.eot?#iefix') format('embedded-opentype'),
        url('fonts/Silka-Regular_1.woff2') format('woff2'),
        url('fonts/Silka-Regular_1.woff') format('woff'),
        url('fonts/Silka-Regular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

