/*!
* Version: 1.0.0
* Qompac Ui
* Author: iqonic.design
* Design and Developed by: iqonic.design
* NOTE: This file contains the styling for Template.
*
*/
:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--bs-heading-font-family);
}

a {
  -webkit-transition: color 400ms ease, background 400ms ease;
  -o-transition: color 400ms ease, background 400ms ease;
  transition: color 400ms ease, background 400ms ease;
}

.iq-slider {
  overflow: hidden;
  overflow-x: auto;
}

.iq-scroller-effect {
  /* Scroll Track */
  /* Scroll Handle */
  /* Scroll Handle on hover */
}
.iq-scroller-effect ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
}
.iq-scroller-effect ::-webkit-scrollbar-track {
  background: #F3F3F3;
  -webkit-border-radius: 20px;
          border-radius: 20px;
}
.iq-scroller-effect ::-webkit-scrollbar-thumb {
  background: #eee;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  -webkit-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
  cursor: pointer;
}
.iq-scroller-effect ::-webkit-scrollbar-thumb:hover {
  background: #f0f0f0;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  -webkit-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

::-moz-selection {
  background: #7016d0;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #7016d0;
  color: #fff;
  text-shadow: none;
}

body {
  -webkit-transition-property: color, background-color;
  -o-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.sign-bg {
  position: absolute;
  left: 0;
  top: 0;
}
.sign-bg.sign-bg-right {
  left: auto;
  right: 0;
}

.gradient-main {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.login-bottom {
  margin-top: -12.5rem;
}

@media (min-width: 1400px) {
  .auth-card {
    padding: 0 6.25rem;
  }
}
@media (max-width: 575.98px) {
  .login-header {
    height: 12.5rem !important;
  }
  .login-bottom {
    margin-top: -6.25rem;
  }
}
.iq-auth-page {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}
.iq-auth-page .container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.iq-auth-page .iq-auth-container {
  height: 100vh;
}

.iq-auth-logo {
  position: absolute;
  z-index: 50;
}

.iq-banner-logo {
  min-width: 70rem;
  max-width: 80rem;
  height: auto;
  min-height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}
.iq-banner-logo .auth-image {
  height: 40rem;
  top: 11rem;
  position: absolute;
  left: 7rem;
  -webkit-transform: scale(2.5);
      -ms-transform: scale(2.5);
          transform: scale(2.5);
}

.iq-link {
  z-index: 1;
}

.iq-auth-container {
  z-index: 10;
  position: relative;
}

.container-inside {
  position: absolute;
  right: 23rem;
  top: 7rem;
}
.container-inside .main-circle {
  -webkit-animation: circle-small-scale 3s ease-in-out infinite alternate;
  animation: circle-small-scale 3s ease-in-out infinite alternate;
  -webkit-animation-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
          animation-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
  background: var(--bs-primary);
  -webkit-border-radius: 50rem;
  border-radius: 50rem;
}
.container-inside .main-circle.circle-small {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  position: absolute;
  top: 12.5rem;
  right: -9.375rem;
  width: 18.75rem;
  height: 18.75rem;
  opacity: 0.4;
}
.container-inside .main-circle.circle-medium {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  position: absolute;
  top: 3.125rem;
  right: -18.75rem;
  width: 37.5rem;
  height: 37.5rem;
  opacity: 0.3;
}
.container-inside .main-circle.circle-large {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  position: absolute;
  top: -6.25rem;
  right: -28.125rem;
  width: 56.25rem;
  height: 56.25rem;
  opacity: 0.2;
}
.container-inside .main-circle.circle-xlarge {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
  position: absolute;
  top: -15.625rem;
  right: -37.5rem;
  width: 75rem;
  height: 75rem;
  opacity: 0.1;
}
.container-inside .main-circle.circle-xxlarge {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
  position: absolute;
  top: -25rem;
  right: -46.875rem;
  width: 93.75rem;
  height: 93.75rem;
  opacity: 0.05;
}

@-webkit-keyframes circle-small-scale {
  0% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
  }
}
@keyframes circle-small-scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
@media (max-width: 1499.98px) {
  .iq-banner-logo .auth-image {
    -webkit-transform: scale(2.2);
        -ms-transform: scale(2.2);
            transform: scale(2.2);
  }
}
@media (max-width: 1399.98px) {
  .iq-banner-logo .auth-image {
    -webkit-transform: scale(2);
        -ms-transform: scale(2);
            transform: scale(2);
  }
}
@media (max-width: 1350.98px) {
  .iq-banner-logo .auth-image {
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
  }
}
@media (max-width: 1199.98px) {
  .iq-banner-logo .auth-image {
    left: 1rem;
  }
}
@media (max-width: 1099.98px) {
  .iq-banner-logo .auth-image {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@media (max-width: 1199.98px) {
  .iq-auth-page .iq-auth-container {
    height: 70vh;
  }
}
@media (max-width: 991.98px) {
  .iq-auth-container .card {
    max-height: 90vh;
    height: 100%;
    overflow-x: hidden;
  }
  .iq-auth-logo {
    position: static;
  }
  .iq-auth-page .iq-auth-container {
    height: -webkit-calc(100vh - 54px);
    height: calc(100vh - 54px);
  }
  .container-inside {
    position: relative;
    right: 0;
    top: 10%;
  }
  .container-inside .main-circle.circle-small {
    right: 0;
    left: 0;
    margin: 0 auto;
  }
  .container-inside .main-circle.circle-medium {
    right: 0;
    left: 0;
    margin: 0 auto;
  }
  .container-inside .main-circle.circle-large {
    right: 0;
    left: 0;
    margin: 0 auto;
  }
  .container-inside .main-circle.circle-xlarge {
    display: none;
  }
  .container-inside .main-circle.circle-xxlarge {
    display: none;
  }
}
.iq-auth-form {
  background: transparent;
  position: relative;
  z-index: 4;
}

.card .iq-dashed-border {
  padding: 1.5rem;
  border: 1px dashed #ced4da;
  -webkit-border-radius: 0.25rem;
          border-radius: 0.25rem;
}
.card .card-body .grid-flow-col {
  grid-auto-flow: column;
}
.card .card-body .iq-icon-box-2 {
  height: 36px;
  width: 36px;
  min-width: 36px;
  line-height: 36px;
  background: #F3F3F3;
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
}
.card .card-body .iq-media-group-1 .iq-media-1 {
  margin-left: -1.25rem;
  position: relative;
  z-index: 0;
}
.card .card-body .iq-media-group-1 .iq-media-1:hover {
  z-index: 9;
}
.card .card-body .iq-media-group-1 .iq-media-1 img {
  border: 2px solid #eee;
}
.card .card-body .iq-media-group-1 .iq-media-1:first-child {
  margin-left: 0;
}
.card .card-body .iq-media-group-1 .iq-media.border {
  border: 2px solid #eee;
}
.card .card-body .iq-media-1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
          background-size: cover;
}
.card .card-body .iq-media-1:hover {
  text-decoration: none;
}

.pricing .table thead tr {
  background-color: unset;
}
.pricing .table th {
  border-top: none;
  border-bottom: 1px solid #eee;
}
.pricing .table td {
  border-top: none !important;
}
.pricing .table tr {
  border-bottom: 1px solid #eee;
}

.prc-box {
  background: var(--bs-primary-tint-80);
  padding: 15px;
  position: relative;
  -webkit-border-radius: 0.25rem;
          border-radius: 0.25rem;
  cursor: pointer;
  -webkit-transition: 500ms ease-in-out;
  -o-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

.pricing-box {
  background: var(--bs-primary-tint-80);
  padding: 15px;
  position: relative;
  cursor: pointer;
  -webkit-transition: 500ms ease-in-out;
  -o-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}
.pricing-box .type-1 {
  position: absolute;
  background: var(--bs-primary-tint-80);
  padding: 0.5rem 1rem;
  top: 0px;
  left: 75%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: 500;
  display: none;
  opacity: 0;
  -webkit-border-radius: 0em 0.25em 0em 0.25em;
          border-radius: 0em 0.25em 0em 0.25em;
}
.pricing-box:hover {
  background: var(--bs-primary);
}
.pricing-box:hover .h4 {
  color: #fff;
}
.pricing-box:hover .h2 {
  color: #fff;
}
.pricing-box:hover .type-1 {
  opacity: 1;
  display: block;
}

.pricing-box.active {
  background: var(--bs-primary);
}
.pricing-box.active .h4 {
  color: #fff;
}
.pricing-box.active .h2 {
  color: #fff;
}
.pricing-box.active .type-1 {
  display: block;
  opacity: 1;
}

.pricing-box-2 {
  background: var(--bs-primary-tint-80);
  position: relative;
  -webkit-transition: 500ms ease-in-out;
  -o-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}
.pricing-box-2 .type-2 {
  background: var(--bs-info);
  padding: 4px 16px;
  color: #fff;
  top: 1.25em;
  left: auto;
  right: -3em;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: 500;
  position: absolute;
  font-size: 13px;
  opacity: 0;
  display: none;
  -webkit-border-radius: 0.25em 0em 0em 0.25em;
          border-radius: 0.25em 0em 0em 0.25em;
}
.pricing-box-2:hover {
  background: var(--bs-primary);
}
.pricing-box-2:hover h3 {
  color: #fff;
}
.pricing-box-2:hover h2 {
  color: #fff;
}
.pricing-box-2:hover p {
  color: #fff;
}
.pricing-box-2:hover .type-2 {
  opacity: 1;
  display: block;
  -webkit-transition: 500ms ease-in-out;
  -o-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

.pricing-box-2.active {
  background: var(--bs-primary);
}
.pricing-box-2.active h3 {
  color: #fff;
}
.pricing-box-2.active h2 {
  color: #fff;
}
.pricing-box-2.active p {
  color: #fff;
}
.pricing-box-2.active .type-2 {
  display: block;
  opacity: 1;
  -webkit-transition: 500ms ease-in-out;
  -o-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

.type {
  position: absolute;
  background: var(--bs-primary);
  padding: 9px 25px;
  color: #fff;
  top: -15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: 500;
}
.type:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  right: -15px;
  top: 0px;
  border-left: 15px solid var(--bs-primary-shade-60);
  border-top: 15px solid transparent;
}
.type:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  left: -15px;
  top: 0px;
  border-right: 15px solid var(--bs-primary-shade-60);
  border-top: 15px solid transparent;
}

.prc-box.active {
  background: var(--bs-primary);
}
.prc-box.active .h3 {
  color: #fff;
}
.prc-box.active .type {
  -webkit-transition: 500ms ease-in-out;
  -o-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
  background: var(--bs-primary-tint-80);
  color: #161D2B;
  -webkit-border-radius: 0 0 0.25rem 0.25rem;
          border-radius: 0 0 0.25rem 0.25rem;
}
.prc-box.active .type:before {
  border-left: 16px solid var(--bs-primary-shade-80);
  right: -16px;
}
.prc-box.active .type:after {
  border-right: 16px solid var(--bs-primary-shade-80);
  left: -16px;
}

.prc-wrap {
  border-bottom: none !important;
}

.table tbody tr td.child-cell.active {
  color: var(--bs-primary);
  stroke: var(--bs-primary);
}

.line-around {
  border-bottom: 1px solid #ADB5BD;
  text-align: center;
  line-height: 0.1em;
}
.line-around .line-around-1 {
  background: #fff;
  padding: 0 18px;
}

.iq-single-card {
  -webkit-border-radius: 0 0.25rem 0.25rem 0;
          border-radius: 0 0.25rem 0.25rem 0;
}

@media (max-width: 767.98px) {
  .iq-single-card {
    -webkit-border-radius: 0 0 0.25rem 0.25rem;
            border-radius: 0 0 0.25rem 0.25rem;
  }
}
.iq-star-inserted .iq-star-inserted-1.col {
  padding-right: unset;
}
.iq-star-inserted .iq-star-inserted-2 {
  z-index: 2;
}
.iq-star-inserted .iq-star-inserted-2.col {
  padding: unset;
}
.iq-star-inserted .iq-star-inserted-2.col .card {
  height: 100%;
}
.iq-star-inserted .iq-star-inserted-3.col {
  padding-left: unset;
}

@media (max-width: 991.98px) {
  .iq-star-inserted .card.my-5 {
    margin: unset !important;
    margin-bottom: 2rem !important;
  }
  .iq-star-inserted .iq-star-inserted-1.col {
    padding-right: -webkit-calc(var(--bs-gutter-x) / 2);
    padding-right: calc(var(--bs-gutter-x) / 2);
  }
  .iq-star-inserted .iq-star-inserted-2.col {
    padding-right: -webkit-calc(var(--bs-gutter-x) / 2);
    padding-right: calc(var(--bs-gutter-x) / 2);
    padding-left: -webkit-calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-x) / 2);
  }
  .iq-star-inserted .iq-star-inserted-2.col .card {
    height: unset;
    margin-bottom: 2rem !important;
  }
  .iq-star-inserted .iq-star-inserted-3.col {
    padding-left: -webkit-calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-x) / 2);
  }
}
.montlypricing {
  display: none;
}

.montlypricing.active {
  display: none;
}

.body-class-1 {
  scroll-behavior: smooth;
}

.main-img .container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.main-img .container h1 {
  margin: 0;
  font-size: 4.375rem;
  color: #fff;
}
.main-img .container h1 span {
  padding: 0.375rem 0.875rem;
  display: inline-block;
}

.bd-heading-1 .bd-example {
  margin-top: 1rem;
}
.bd-heading-1 .bd-example:first-child {
  margin-top: 0rem;
}

.bd-cheatsheet {
  margin-top: -2rem;
}
.bd-cheatsheet section article .card.iq-document-card {
  padding: 1.5rem;
}
.bd-cheatsheet section article .card.iq-document-card .tab-content pre.language-markup {
  margin: unset;
}

.bd-aside.card.iq-document-card {
  padding: 1.5rem;
  margin-top: -2rem;
}

/* Table of contents */
.bd-aside a {
  padding: 0.25rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 0.25rem;
  color: rgba(109, 109, 109, 0.95);
  text-decoration: none;
}
.bd-aside a:hover, .bd-aside a:focus {
  background-color: rgba(112, 22, 208, 0.1);
}
.bd-aside .active {
  font-weight: 600;
  background-color: rgba(112, 22, 208, 0.1);
  color: var(--bs-primary);
}
.bd-aside .btn {
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  color: #6D6D6D;
  border: 0;
}
.bd-aside .btn .right-icon {
  -webkit-transition: -webkit-transform 0.35s ease;
  transition: -webkit-transform 0.35s ease;
  -o-transition: transform 0.35s ease;
  transition: transform 0.35s ease;
  transition: transform 0.35s ease, -webkit-transform 0.35s ease;
}
.bd-aside .btn:hover, .bd-aside .btn:focus {
  background-color: rgba(112, 22, 208, 0.1);
  color: var(--bs-primary);
}
.bd-aside .btn[aria-expanded=true] .right-icon {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.scrollspy-example {
  position: relative;
  height: 12.5rem;
  margin-top: 0.5rem;
  overflow: auto;
}

[id=modal] .bd-example .btn,
[id=buttons] .bd-example .btn,
[id=tooltips] .bd-example .btn,
[id=popovers] .bd-example .btn,
[id=dropdowns] .bd-example .btn-group,
[id=dropdowns] .bd-example .dropdown,
[id=dropdowns] .bd-example .dropup,
[id=dropdowns] .bd-example .dropend,
[id=dropdowns] .bd-example .dropstart {
  margin-top: 0.5rem;
}

/* Layout */
@media (min-width: 1200px) {
  .body-class-1 {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto;
  }
  .bd-aside.sticky-xl-top {
    top: 2rem !important;
  }
  .bd-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    grid-column: 1/span 3;
  }
  .sticky-xl-top {
    z-index: 2;
  }
  .bd-cheatsheet, .bd-cheatsheet section, .bd-cheatsheet article {
    display: grid;
    gap: 2rem;
    grid-template-columns: 3fr 1fr;
    grid-column: span 2/span 2;
    grid-template-rows: auto;
  }
  .bd-aside {
    grid-area: 1/1;
    scroll-margin-top: 4rem;
  }
  .bd-cheatsheet section, .bd-cheatsheet section > .iq-side-content {
    top: 2rem;
    scroll-margin-top: 0;
  }
  .bd-cheatsheet article, .bd-cheatsheet .bd-heading {
    top: -webkit-calc(7.2rem + 2rem);
    top: calc(7.2rem + 2rem);
    scroll-margin-top: -webkit-calc(7.8rem + 2rem);
    scroll-margin-top: calc(7.8rem + 2rem);
  }
  .bd-cheatsheet .bd-heading {
    z-index: 1;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
  .bd-cheatsheet .bd-heading .card {
    margin-bottom: 0;
  }
  .bd-cheatsheet article .iq-document-card {
    margin-bottom: unset;
  }
  .bd-cheatsheet article .iq-document-card.iq-doc-head {
    margin-top: -6.8rem;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .mobile-offcanvas {
    width: 40% !important;
  }
}
@media (max-width: 767.98px) {
  .main-img .container h1 {
    font-size: 3.125rem;
  }
}
@media (max-width: 1199.98px) {
  .header .container {
    max-width: unset !important;
  }
  aside.mobile-offcanvas {
    margin-top: unset !important;
  }
  aside.mobile-offcanvas .offcanvas-header {
    display: block;
  }
  .body-class-1 {
    padding: unset;
  }
  .body-class-1.container {
    max-width: unset;
  }
  #content .iq-side-content .card {
    margin-top: 1.25rem;
  }
  .mobile-offcanvas {
    visibility: hidden;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-border-radius: 0;
            border-radius: 0;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 1200;
    width: 75%;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-transition: visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -o-transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    background: rgba(255, 255, 255, 0.8392156863);
    -webkit-backdrop-filter: blur(0.5rem);
            backdrop-filter: blur(0.5rem);
  }
  .mobile-offcanvas.show {
    visibility: visible;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
  .mobile-offcanvas .container, .mobile-offcanvas .container-fluid {
    display: block;
  }
}
@media (min-width: 1200px) {
  .bd-aside.card.iq-document-card, .bd-cheatsheet {
    margin-top: -3rem;
  }
  aside.mobile-offcanvas .offcanvas-header {
    display: none;
  }
  .bd-cheatsheet section .iq-side-content {
    grid-column-end: 3;
  }
  .bd-cheatsheet section .iq-side-content .card {
    margin-bottom: 0;
  }
}
body.offcanvas-active {
  overflow: hidden;
}

body.uikit .btn-download {
  display: none;
}

.uisheet.screen-darken {
  height: 100%;
  width: 0%;
  z-index: 30;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(22, 29, 43, 0.6);
  -webkit-transition: opacity 0.2s linear, visibility 0.2s, width 2s ease-in;
  -o-transition: opacity 0.2s linear, visibility 0.2s, width 2s ease-in;
  transition: opacity 0.2s linear, visibility 0.2s, width 2s ease-in;
}
.uisheet.screen-darken.active {
  z-index: 10;
  -webkit-transition: opacity 0.3s ease, width 0s;
  -o-transition: opacity 0.3s ease, width 0s;
  transition: opacity 0.3s ease, width 0s;
  opacity: 1;
  width: 100%;
  visibility: visible;
}

#back-to-top {
  display: inline !important;
}
#back-to-top .top {
  bottom: 1.563rem;
  right: 1.563rem;
  z-index: 999;
}

.middle {
  display: inline !important;
}
.middle .mid-menu {
  position: fixed;
  top: 9.375rem;
  left: 0rem;
  z-index: 999;
  text-align: center;
  cursor: pointer;
  background: var(--bs-primary);
  color: #fff;
  padding: 0.2rem;
  -webkit-border-radius: 0 1rem 1rem 0;
          border-radius: 0 1rem 1rem 0;
}

.top-1 {
  top: 1rem;
}

.elem-list {
  max-height: -webkit-calc(80vh + 4rem);
  max-height: calc(80vh + 4rem);
  overflow: auto;
  /* Scroll Track */
  /* Scroll Handle */
  /* Scroll Handle on hover */
}
.elem-list::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}
.elem-list::-webkit-scrollbar-track {
  background: #F3F3F3;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}
.elem-list::-webkit-scrollbar-thumb {
  background: rgba(22, 29, 43, 0.2);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
  cursor: pointer;
}
.elem-list::-webkit-scrollbar-thumb:hover {
  background: rgba(22, 29, 43, 0.2);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
  cursor: pointer;
}

.d-grid-template-1fr-9 {
  grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
}

.error-bg h1 {
  font-size: 180px;
  color: var(--bs-primary-tint-40);
}

.card.maintenance-card h1 {
  font-size: 98px;
  font-weight: 700;
}
.card.maintenance-card .countdown li span {
  font-size: 40px;
  display: inline-block;
  width: 100%;
  font-weight: 700;
}

@media (max-width: 1199.98px) {
  .error-bg h1 {
    font-size: 100px;
    color: var(--bs-primary-tint-40);
  }
}
@media (max-width: 575.98px) {
  .error-bg h1 {
    font-size: 70px;
  }
}