/*!
*
* Template: Qompac-Ui - Responsive Bootstrap 5 Admin Dashboard Template
* Author: iqonic.design
* Design and Developed by: iqonic.design
* NOTE: This file contains the styling for color variable.
*
*/
a {
  color: var(--bs-primary);
}
a:hover {
  color: var(--bs-primary-shade-20);
}

:root {
  --bs-heading-color: #16042a;
  --bs-primary: #7016d0;
  --bs-primary-shade-80: #16042a;
  --bs-primary-shade-60: #2d0953;
  --bs-primary-shade-40: #430d7d;
  --bs-primary-shade-20: #5a12a6;
  --bs-primary-tint-90: #f1e8fa;
  --bs-primary-tint-80: #e2d0f6;
  --bs-primary-tint-60: #c6a2ec;
  --bs-primary-tint-40: #a973e3;
  --bs-primary-tint-20: #8d45d9;
  --bs-primary-rgb: 112, 22, 208;
  --bs-heading-color: #222126;
  --bs-secondary: #aca4bc;
  --bs-secondary-shade-80: #222126;
  --bs-secondary-shade-60: #45424b;
  --bs-secondary-shade-40: #676271;
  --bs-secondary-shade-20: #8a8396;
  --bs-secondary-tint-90: #f7f6f8;
  --bs-secondary-tint-80: #eeedf2;
  --bs-secondary-tint-60: #dedbe4;
  --bs-secondary-tint-40: #cdc8d7;
  --bs-secondary-tint-20: #bdb6c9;
  --bs-secondary-rgb: 172, 164, 188;
}

.text-primary {
  color: var(--bs-primary) !important;
}

.bg-primary {
  background-color: var(--bs-primary) !important;
}

.bg-soft-primary {
  color: var(--bs-primary);
  background-color: rgba(var(--bs-primary-rgb), 0.1) !important;
}

a.bg-soft-primary, button.bg-soft-primary {
  color: var(--bs-primary);
  background-color: rgba(var(--bs-primary-rgb), 0.1) !important;
}
a.bg-soft-primary:hover, a.bg-soft-primary:focus, button.bg-soft-primary:hover, button.bg-soft-primary:focus {
  color: var(--bs-primary-shade-20);
  background-color: rgba(var(--bs-primary-rgb), 0.2) !important;
}

.text-info {
  color: var(--bs-info) !important;
}

.bg-info {
  background-color: var(--bs-info) !important;
}

.bg-soft-info {
  color: var(--bs-info);
  background-color: rgba(var(--bs-info-rgb), 0.1) !important;
}

a.bg-soft-info, button.bg-soft-info {
  color: var(--bs-info);
  background-color: rgba(var(--bs-info-rgb), 0.1) !important;
}
a.bg-soft-info:hover, a.bg-soft-info:focus, button.bg-soft-info:hover, button.bg-soft-info:focus {
  color: var(--bs-info-shade-20);
  background-color: rgba(var(--bs-info-rgb), 0.2) !important;
}

.accordion-button:not(.collapsed) {
  color: var(--bs-primary-shade-20);
  background-color: var(--bs-primary-tint-90);
  -webkit-box-shadow: inset 0 -1px 0, rgba(var(--bs-black-rgb), 0.13);
          box-shadow: inset 0 -1px 0, rgba(var(--bs-black-rgb), 0.13);
}
.accordion-button:focus {
  border-color: var(--bs-primary-tint-40);
  -webkit-box-shadow: 0 0.125rem 0rem 0rem, rgba(var(--bs-primary-rgb), 0.15);
          box-shadow: 0 0.125rem 0rem 0rem, rgba(var(--bs-primary-rgb), 0.15);
}

.alert-primary {
  color: var(--bs-primary-shade-40);
  background: var(--bs-primary-tint-60);
  border-color: var(--bs-primary);
}
.alert-primary .alert-link {
  color: var(--bs-primary-shade-40);
}
.alert-primary.alert-solid {
  color: var(--bs-white);
  background: var(--bs-primary);
  border-color: var(--bs-primary);
}

.alert-left.alert-primary {
  border-color: var(--bs-primary);
}

.alert-top.alert-primary {
  border-color: var(--bs-primary);
}

.alert-right.alert-primary {
  border-color: var(--bs-primary);
}

.alert-bottom.alert-primary {
  border-color: var(--bs-primary);
}

.alert-info {
  color: var(--bs-info-shade-40);
  background: var(--bs-info-tint-60);
  border-color: var(--bs-info);
}
.alert-info .alert-link {
  color: var(--bs-info-shade-40);
}
.alert-info.alert-solid {
  color: var(--bs-white);
  background: var(--bs-info);
  border-color: var(--bs-info);
}

.alert-left.alert-info {
  border-color: var(--bs-info);
}

.alert-top.alert-info {
  border-color: var(--bs-info);
}

.alert-right.alert-info {
  border-color: var(--bs-info);
}

.alert-bottom.alert-info {
  border-color: var(--bs-info);
}

.dropdown-item:hover, .dropdown-item:focus {
  color: var(--bs-primary-shade-20);
  -webkit-border-radius: 0.25rem;
          border-radius: 0.25rem;
  cursor: pointer;
}
.dropdown-item.active, .dropdown-item:active {
  color: var(--bs-white);
  -webkit-border-radius: 0.25rem;
          border-radius: 0.25rem;
  cursor: pointer;
}

.btn.btn-primary {
  color: var(--bs-white);
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}
.btn.btn-primary:hover {
  color: var(--bs-white);
  background-color: var(--bs-primary-shade-20);
  border-color: var(--bs-primary-shade-20);
}
.btn.btn-primary:focus {
  color: var(--bs-white);
  background-color: var(--bs-primary-shade-20);
  border-color: var(--bs-primary-shade-20);
}
.btn.btn-primary:active, .btn.btn-primary.active {
  color: var(--bs-white);
  background-color: var(--bs-primary-shade-20);
  border-color: var(--bs-primary-shade-20);
}
.btn.btn-outline-primary {
  color: var(--bs-primary-shade-20);
  border-color: var(--bs-primary-shade-20);
}
.btn.btn-outline-primary:hover, .btn.btn-outline-primary:focus {
  color: var(--bs-white);
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}
.btn.btn-outline-primary:active, .btn.btn-outline-primary.active {
  color: var(--bs-white);
  background-color: var(--bs-primary-shade-20);
  border-color: var(--bs-primary-shade-20);
}
.btn.btn-soft-primary {
  color: var(--bs-primary);
  background-color: rgba(var(--bs-primary-rgb), 0.1);
  border-color: transparent;
}
.btn.btn-soft-primary:hover, .btn.btn-soft-primary:focus, .btn.btn-soft-primary:active {
  color: var(--bs-primary);
  background-color: rgba(var(--bs-primary-rgb), 0.2);
  border-color: transparent;
}

.btn.btn-info {
  color: var(--bs-white);
  background-color: var(--bs-info);
  border-color: var(--bs-info);
}
.btn.btn-info:hover {
  color: var(--bs-white);
  background-color: var(--bs-info-shade-20);
  border-color: var(--bs-info-shade-20);
}
.btn.btn-info:focus {
  color: var(--bs-white);
  background-color: var(--bs-info-shade-20);
  border-color: var(--bs-info-shade-20);
}
.btn.btn-info:active, .btn.btn-info.active {
  color: var(--bs-white);
  background-color: var(--bs-info-shade-20);
  border-color: var(--bs-info-shade-20);
}
.btn.btn-outline-info {
  color: var(--bs-info-shade-20);
  border-color: var(--bs-info-shade-20);
}
.btn.btn-outline-info:hover, .btn.btn-outline-info:focus {
  color: var(--bs-white);
  background-color: var(--bs-info);
  border-color: var(--bs-info);
}
.btn.btn-outline-info:active, .btn.btn-outline-info.active {
  color: var(--bs-white);
  background-color: var(--bs-info-shade-20);
  border-color: var(--bs-info-shade-20);
}
.btn.btn-soft-info {
  color: var(--bs-info);
  background-color: rgba(var(--bs-info-rgb), 0.1);
  border-color: transparent;
}
.btn.btn-soft-info:hover, .btn.btn-soft-info:focus, .btn.btn-soft-info:active {
  color: var(--bs-info);
  background-color: rgba(var(--bs-info-rgb), 0.2);
  border-color: transparent;
}

.btn-link {
  color: var(--bs-primary);
}
.btn-link:hover {
  color: var(--bs-primary-tint-20);
}

.bd-aside .active {
  color: var(--bs-primary);
  background-color: var(--bs-primary-tint-90);
}
.bd-aside .btn:hover {
  color: var(--bs-primary);
  background-color: var(--bs-primary-tint-90);
}
.bd-aside .btn:focus {
  color: var(--bs-primary);
  background-color: var(--bs-primary-tint-90);
}
.bd-aside a:hover {
  background-color: var(--bs-primary-tint-88);
}

.btn-border.active {
  border-color: var(--bs-primary);
}

.list-group-item.list-group-item-primary {
  color: var(--bs-primary-shade-40);
  background-color: var(--bs-primary-tint-80);
}
.list-group-item.list-group-item-primary.list-group-item-action:not(.active):hover, .list-group-item.list-group-item-primary.list-group-item-action:not(.active):focus {
  color: var(--bs-primary-shade-40);
  background-color: var(--bs-primary-tint-60);
}

.list-group-item.list-group-item-info {
  color: var(--bs-info-shade-40);
  background-color: var(--bs-info-tint-80);
}
.list-group-item.list-group-item-info.list-group-item-action:not(.active):hover, .list-group-item.list-group-item-info.list-group-item-action:not(.active):focus {
  color: var(--bs-info-shade-40);
  background-color: var(--bs-info-tint-60);
}

.list-group-item.active {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  color: var(--bs-white);
}

.list-group .list-group-item.list-group-item-action.list-group-item-primary {
  background-color: rgba(var(--bs-primary-rgb), 10%);
}
.list-group .list-group-item.list-group-item-action.list-group-item-primary:hover {
  background-color: rgba(var(--bs-primary-rgb), 20%);
  color: "primary";
}

.list-group .list-group-item.list-group-item-action.list-group-item-info {
  background-color: rgba(var(--bs-info-rgb), 10%);
}
.list-group .list-group-item.list-group-item-action.list-group-item-info:hover {
  background-color: rgba(var(--bs-info-rgb), 20%);
  color: "info";
}

.form-control:focus {
  border-color: var(--bs-primary-tint-40);
}

.form-select:focus {
  border-color: var(--bs-primary-tint-40);
}

.form-check-input:checked {
  border-color: var(--bs-primary-shade-20);
  background-color: var(--bs-primary-shade-20);
}
.form-check-input:focus {
  border-color: var(--bs-primary-shade-20);
}

.border-primary {
  border-color: var(--bs-primary) !important;
}

.border-info {
  border-color: var(--bs-info) !important;
}

.nav-link {
  color: var(--bs-primary);
}
.nav-link:hover, .nav-link:focus {
  color: var(--bs-primary-tint-20);
}

.nav-tabs .nav-link.active {
  color: var(--bs-white);
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}
.nav-pills .nav-link.active {
  color: var(--bs-white);
  background-color: var(--bs-primary);
}

.nav-slider {
  position: relative;
}
.nav-slider .nav-link.active {
  background-color: transparent;
}
.nav-slider .nav-item {
  z-index: 3;
}
.nav-slider .nav-slider-thumb {
  z-index: 1 !important;
  width: 100%;
  color: var(--bs-primary);
  background: var(--bs-primary);
}

.nav-link {
  color: #6D6D6D;
}
.nav-link:hover, .nav-link:focus {
  color: var(--bs-primary-tint-20);
}

.page-item.active .page-link {
  color: var(--bs-white);
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}
.page-item .page-link {
  border-color: var(--bs-primary-tint-80);
  color: var(--bs-primary);
}

.fc-button-primary {
  background-color: var(--bs-primary) !important;
  border-color: var(--bs-primary) !important;
}

.fc-button-primary:not(:disabled):active, .fc-button-primary:not(:disabled).fc-button-active {
  background-color: var(--bs-primary-shade-40) !important;
  border-color: var(--bs-primary-shade-40) !important;
}

.dark .text-primary {
  color: var(--bs-primary) !important;
}
.dark .bg-primary {
  background-color: var(--bs-primary) !important;
}
.dark .bg-soft-primary {
  color: var(--bs-primary);
  background-color: rgba(var(--bs-primary-rgb), 0.1) !important;
}
.dark a.bg-soft-primary, .dark button.bg-soft-primary {
  color: var(--bs-primary);
  background-color: rgba(var(--bs-primary-rgb), 0.1) !important;
}
.dark a.bg-soft-primary:hover, .dark a.bg-soft-primary:focus, .dark button.bg-soft-primary:hover, .dark button.bg-soft-primary:focus {
  color: var(--bs-primary-shade-20);
  background-color: rgba(var(--bs-primary-rgb), 0.2) !important;
}
.dark .text-info {
  color: var(--bs-info) !important;
}
.dark .bg-info {
  background-color: var(--bs-info) !important;
}
.dark .bg-soft-info {
  color: var(--bs-info);
  background-color: rgba(var(--bs-info-rgb), 0.1) !important;
}
.dark a.bg-soft-info, .dark button.bg-soft-info {
  color: var(--bs-info);
  background-color: rgba(var(--bs-info-rgb), 0.1) !important;
}
.dark a.bg-soft-info:hover, .dark a.bg-soft-info:focus, .dark button.bg-soft-info:hover, .dark button.bg-soft-info:focus {
  color: var(--bs-info-shade-20);
  background-color: rgba(var(--bs-info-rgb), 0.2) !important;
}
.dark .accordion-button:not(.collapsed) {
  color: var(--bs-primary-shade-20);
  background-color: var(--bs-primary-tint-90);
  -webkit-box-shadow: inset 0 -1px 0, rgba(var(--bs-black-rgb), 0.13);
          box-shadow: inset 0 -1px 0, rgba(var(--bs-black-rgb), 0.13);
}
.dark .accordion-button:focus {
  border-color: var(--bs-primary-tint-40);
  -webkit-box-shadow: 0 0.125rem 0rem 0rem, rgba(var(--bs-primary-rgb), 0.15);
          box-shadow: 0 0.125rem 0rem 0rem, rgba(var(--bs-primary-rgb), 0.15);
}
.dark .alert-primary {
  color: var(--bs-primary-shade-40);
  background: var(--bs-primary-tint-60);
  border-color: var(--bs-primary);
}
.dark .alert-primary .alert-link {
  color: var(--bs-primary-shade-40);
}
.dark .alert-primary.alert-solid {
  color: var(--bs-white);
  background: var(--bs-primary);
  border-color: var(--bs-primary);
}
.dark .alert-left.alert-primary {
  border-color: var(--bs-primary);
}
.dark .alert-top.alert-primary {
  border-color: var(--bs-primary);
}
.dark .alert-right.alert-primary {
  border-color: var(--bs-primary);
}
.dark .alert-bottom.alert-primary {
  border-color: var(--bs-primary);
}
.dark .alert-info {
  color: var(--bs-info-shade-40);
  background: var(--bs-info-tint-60);
  border-color: var(--bs-info);
}
.dark .alert-info .alert-link {
  color: var(--bs-info-shade-40);
}
.dark .alert-info.alert-solid {
  color: var(--bs-white);
  background: var(--bs-info);
  border-color: var(--bs-info);
}
.dark .alert-left.alert-info {
  border-color: var(--bs-info);
}
.dark .alert-top.alert-info {
  border-color: var(--bs-info);
}
.dark .alert-right.alert-info {
  border-color: var(--bs-info);
}
.dark .alert-bottom.alert-info {
  border-color: var(--bs-info);
}
.dark .dropdown-item:hover, .dark .dropdown-item:focus {
  color: var(--bs-primary-shade-20);
  -webkit-border-radius: 0.25rem;
          border-radius: 0.25rem;
  cursor: pointer;
}
.dark .dropdown-item.active, .dark .dropdown-item:active {
  color: var(--bs-white);
  -webkit-border-radius: 0.25rem;
          border-radius: 0.25rem;
  cursor: pointer;
}
.dark .btn.btn-primary {
  color: var(--bs-white);
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}
.dark .btn.btn-primary:hover {
  color: var(--bs-white);
  background-color: var(--bs-primary-shade-20);
  border-color: var(--bs-primary-shade-20);
}
.dark .btn.btn-primary:focus {
  color: var(--bs-white);
  background-color: var(--bs-primary-shade-20);
  border-color: var(--bs-primary-shade-20);
}
.dark .btn.btn-primary:active, .dark .btn.btn-primary.active {
  color: var(--bs-white);
  background-color: var(--bs-primary-shade-20);
  border-color: var(--bs-primary-shade-20);
}
.dark .btn.btn-outline-primary {
  color: var(--bs-primary-shade-20);
  border-color: var(--bs-primary-shade-20);
}
.dark .btn.btn-outline-primary:hover, .dark .btn.btn-outline-primary:focus {
  color: var(--bs-white);
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}
.dark .btn.btn-outline-primary:active, .dark .btn.btn-outline-primary.active {
  color: var(--bs-white);
  background-color: var(--bs-primary-shade-20);
  border-color: var(--bs-primary-shade-20);
}
.dark .btn.btn-soft-primary {
  color: var(--bs-primary);
  background-color: rgba(var(--bs-primary-rgb), 0.1);
  border-color: transparent;
}
.dark .btn.btn-soft-primary:hover, .dark .btn.btn-soft-primary:focus, .dark .btn.btn-soft-primary:active {
  color: var(--bs-primary);
  background-color: rgba(var(--bs-primary-rgb), 0.2);
  border-color: transparent;
}
.dark .btn.btn-info {
  color: var(--bs-white);
  background-color: var(--bs-info);
  border-color: var(--bs-info);
}
.dark .btn.btn-info:hover {
  color: var(--bs-white);
  background-color: var(--bs-info-shade-20);
  border-color: var(--bs-info-shade-20);
}
.dark .btn.btn-info:focus {
  color: var(--bs-white);
  background-color: var(--bs-info-shade-20);
  border-color: var(--bs-info-shade-20);
}
.dark .btn.btn-info:active, .dark .btn.btn-info.active {
  color: var(--bs-white);
  background-color: var(--bs-info-shade-20);
  border-color: var(--bs-info-shade-20);
}
.dark .btn.btn-outline-info {
  color: var(--bs-info-shade-20);
  border-color: var(--bs-info-shade-20);
}
.dark .btn.btn-outline-info:hover, .dark .btn.btn-outline-info:focus {
  color: var(--bs-white);
  background-color: var(--bs-info);
  border-color: var(--bs-info);
}
.dark .btn.btn-outline-info:active, .dark .btn.btn-outline-info.active {
  color: var(--bs-white);
  background-color: var(--bs-info-shade-20);
  border-color: var(--bs-info-shade-20);
}
.dark .btn.btn-soft-info {
  color: var(--bs-info);
  background-color: rgba(var(--bs-info-rgb), 0.1);
  border-color: transparent;
}
.dark .btn.btn-soft-info:hover, .dark .btn.btn-soft-info:focus, .dark .btn.btn-soft-info:active {
  color: var(--bs-info);
  background-color: rgba(var(--bs-info-rgb), 0.2);
  border-color: transparent;
}
.dark .btn-link {
  color: var(--bs-primary);
}
.dark .btn-link:hover {
  color: var(--bs-primary-tint-20);
}
.dark .bd-aside .active {
  color: var(--bs-primary);
  background-color: var(--bs-primary-tint-90);
}
.dark .bd-aside .btn:hover {
  color: var(--bs-primary);
  background-color: var(--bs-primary-tint-90);
}
.dark .bd-aside .btn:focus {
  color: var(--bs-primary);
  background-color: var(--bs-primary-tint-90);
}
.dark .bd-aside a:hover {
  background-color: var(--bs-primary-tint-88);
}
.dark .btn-border.active {
  border-color: var(--bs-primary);
}
.dark .list-group-item.list-group-item-primary {
  color: var(--bs-primary-shade-40);
  background-color: var(--bs-primary-tint-80);
}
.dark .list-group-item.list-group-item-primary.list-group-item-action:not(.active):hover, .dark .list-group-item.list-group-item-primary.list-group-item-action:not(.active):focus {
  color: var(--bs-primary-shade-40);
  background-color: var(--bs-primary-tint-60);
}
.dark .list-group-item.list-group-item-info {
  color: var(--bs-info-shade-40);
  background-color: var(--bs-info-tint-80);
}
.dark .list-group-item.list-group-item-info.list-group-item-action:not(.active):hover, .dark .list-group-item.list-group-item-info.list-group-item-action:not(.active):focus {
  color: var(--bs-info-shade-40);
  background-color: var(--bs-info-tint-60);
}
.dark .list-group-item.active {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  color: var(--bs-white);
}
.dark .list-group .list-group-item.list-group-item-action.list-group-item-primary {
  background-color: rgba(var(--bs-primary-rgb), 10%);
}
.dark .list-group .list-group-item.list-group-item-action.list-group-item-primary:hover {
  background-color: rgba(var(--bs-primary-rgb), 20%);
  color: "primary";
}
.dark .list-group .list-group-item.list-group-item-action.list-group-item-info {
  background-color: rgba(var(--bs-info-rgb), 10%);
}
.dark .list-group .list-group-item.list-group-item-action.list-group-item-info:hover {
  background-color: rgba(var(--bs-info-rgb), 20%);
  color: "info";
}
.dark .form-control:focus {
  border-color: var(--bs-primary-tint-40);
}
.dark .form-select:focus {
  border-color: var(--bs-primary-tint-40);
}
.dark .form-check-input:checked {
  border-color: var(--bs-primary-shade-20);
  background-color: var(--bs-primary-shade-20);
}
.dark .form-check-input:focus {
  border-color: var(--bs-primary-shade-20);
}
.dark .border-primary {
  border-color: var(--bs-primary) !important;
}
.dark .border-info {
  border-color: var(--bs-info) !important;
}
.dark .nav-link {
  color: var(--bs-primary);
}
.dark .nav-link:hover, .dark .nav-link:focus {
  color: var(--bs-primary-tint-20);
}
.dark .nav-tabs .nav-link.active {
  color: var(--bs-white);
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}
.dark .nav-pills .nav-link.active {
  color: var(--bs-white);
  background-color: var(--bs-primary);
}
.dark .nav-slider {
  position: relative;
}
.dark .nav-slider .nav-link.active {
  background-color: transparent;
}
.dark .nav-slider .nav-item {
  z-index: 3;
}
.dark .nav-slider .nav-slider-thumb {
  z-index: 1 !important;
  width: 100%;
  color: var(--bs-primary);
  background: var(--bs-primary);
}
.dark .nav-link {
  color: #6D6D6D;
}
.dark .nav-link:hover, .dark .nav-link:focus {
  color: var(--bs-primary-tint-20);
}
.dark .page-item.active .page-link {
  color: var(--bs-white);
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}
.dark .page-item .page-link {
  border-color: var(--bs-primary-tint-80);
  color: var(--bs-primary);
}
.dark .fc-button-primary {
  background-color: var(--bs-primary) !important;
  border-color: var(--bs-primary) !important;
}
.dark .fc-button-primary:not(:disabled):active, .dark .fc-button-primary:not(:disabled).fc-button-active {
  background-color: var(--bs-primary-shade-40) !important;
  border-color: var(--bs-primary-shade-40) !important;
}

.live-customizer {
  -webkit-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border: 0;
}

@media (min-width: 768px) {
  .live-customizer {
    width: 450px !important;
  }
  .theme-fs-lg .live-customizer {
    width: 500px !important;
  }
}
.text-primary {
  color: var(--bs-primary) !important;
}

.bg-primary {
  background-color: var(--bs-primary) !important;
}

.bg-soft-primary {
  color: var(--bs-primary);
  background-color: rgba(var(--bs-primary-rgb), 0.1) !important;
}

a.bg-soft-primary, button.bg-soft-primary {
  color: var(--bs-primary);
  background-color: rgba(var(--bs-primary-rgb), 0.1) !important;
}
a.bg-soft-primary:hover, a.bg-soft-primary:focus, button.bg-soft-primary:hover, button.bg-soft-primary:focus {
  color: var(--bs-primary-shade-20);
  background-color: rgba(var(--bs-primary-rgb), 0.2) !important;
}

.text-info {
  color: var(--bs-info) !important;
}

.bg-info {
  background-color: var(--bs-info) !important;
}

.bg-soft-info {
  color: var(--bs-info);
  background-color: rgba(var(--bs-info-rgb), 0.1) !important;
}

a.bg-soft-info, button.bg-soft-info {
  color: var(--bs-info);
  background-color: rgba(var(--bs-info-rgb), 0.1) !important;
}
a.bg-soft-info:hover, a.bg-soft-info:focus, button.bg-soft-info:hover, button.bg-soft-info:focus {
  color: var(--bs-info-shade-20);
  background-color: rgba(var(--bs-info-rgb), 0.2) !important;
}