/*!
* Version: 1.0.0
* Qompac Ui
* Author: iqonic.design
* Design and Developed by: iqonic.design
* NOTE: This file contains the styling for Template.
*
*/
:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--bs-heading-font-family);
}

a {
  -webkit-transition: color 400ms ease, background 400ms ease;
  -o-transition: color 400ms ease, background 400ms ease;
  transition: color 400ms ease, background 400ms ease;
}

.iq-slider {
  overflow: hidden;
  overflow-x: auto;
}

.iq-scroller-effect {
  /* Scroll Track */
  /* Scroll Handle */
  /* Scroll Handle on hover */
}
.iq-scroller-effect ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
}
.iq-scroller-effect ::-webkit-scrollbar-track {
  background: #F3F3F3;
  -webkit-border-radius: 20px;
          border-radius: 20px;
}
.iq-scroller-effect ::-webkit-scrollbar-thumb {
  background: #eee;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  -webkit-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
  cursor: pointer;
}
.iq-scroller-effect ::-webkit-scrollbar-thumb:hover {
  background: #f0f0f0;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  -webkit-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

::-moz-selection {
  background: #7016d0;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #7016d0;
  color: #fff;
  text-shadow: none;
}

body {
  -webkit-transition-property: color, background-color;
  -o-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.dark {
  /*
   * Background color 
   */
}
.dark .bg-soft-primary {
  background-color: rgba(112, 22, 208, 0.1) !important;
}
.dark a.bg-soft-primary:hover, .dark a.bg-soft-primary:focus,
.dark button.bg-soft-primary:hover,
.dark button.bg-soft-primary:focus {
  cursor: pointer;
  color: #5f13b1;
  background-color: rgba(112, 22, 208, 0.15) !important;
}
.dark .bg-soft-secondary {
  background-color: rgba(233, 236, 239, 0.1) !important;
}
.dark a.bg-soft-secondary:hover, .dark a.bg-soft-secondary:focus,
.dark button.bg-soft-secondary:hover,
.dark button.bg-soft-secondary:focus {
  cursor: pointer;
  color: #c6c9cb;
  background-color: rgba(233, 236, 239, 0.15) !important;
}
.dark .bg-soft-success {
  background-color: rgba(26, 160, 83, 0.1) !important;
}
.dark a.bg-soft-success:hover, .dark a.bg-soft-success:focus,
.dark button.bg-soft-success:hover,
.dark button.bg-soft-success:focus {
  cursor: pointer;
  color: #168847;
  background-color: rgba(26, 160, 83, 0.15) !important;
}
.dark .bg-soft-info {
  background-color: rgba(8, 177, 186, 0.1) !important;
}
.dark a.bg-soft-info:hover, .dark a.bg-soft-info:focus,
.dark button.bg-soft-info:hover,
.dark button.bg-soft-info:focus {
  cursor: pointer;
  color: #07969e;
  background-color: rgba(8, 177, 186, 0.15) !important;
}
.dark .bg-soft-warning {
  background-color: rgba(241, 106, 27, 0.1) !important;
}
.dark a.bg-soft-warning:hover, .dark a.bg-soft-warning:focus,
.dark button.bg-soft-warning:hover,
.dark button.bg-soft-warning:focus {
  cursor: pointer;
  color: #cd5a17;
  background-color: rgba(241, 106, 27, 0.15) !important;
}
.dark .bg-soft-danger {
  background-color: rgba(192, 50, 33, 0.1) !important;
}
.dark a.bg-soft-danger:hover, .dark a.bg-soft-danger:focus,
.dark button.bg-soft-danger:hover,
.dark button.bg-soft-danger:focus {
  cursor: pointer;
  color: #a32b1c;
  background-color: rgba(192, 50, 33, 0.15) !important;
}
.dark .bg-soft-light {
  color: white;
  background-color: rgba(255, 255, 255, 0.125) !important;
}
.dark a.bg-soft-light:hover, .dark a.bg-soft-light:focus,
.dark button.bg-soft-light:hover,
.dark button.bg-soft-light:focus {
  cursor: pointer;
  color: white;
  background-color: rgba(255, 255, 255, 0.15) !important;
}
.dark .bg-soft-dark {
  color: #a3b2d0;
  background-color: rgba(129, 150, 191, 0.125) !important;
}
.dark a.bg-soft-dark:hover, .dark a.bg-soft-dark:focus,
.dark button.bg-soft-dark:hover,
.dark button.bg-soft-dark:focus {
  cursor: pointer;
  color: #c5cee1;
  background-color: rgba(129, 150, 191, 0.15) !important;
}
.dark .bg-soft-tertiray {
  background-color: rgba(63, 240, 185, 0.1) !important;
}
.dark a.bg-soft-tertiray:hover, .dark a.bg-soft-tertiray:focus,
.dark button.bg-soft-tertiray:hover,
.dark button.bg-soft-tertiray:focus {
  cursor: pointer;
  color: #36cc9d;
  background-color: rgba(63, 240, 185, 0.15) !important;
}
.dark .bg-soft-gray {
  color: #b0b6bc;
  background-color: rgba(203, 208, 212, 0.125) !important;
}
.dark a.bg-soft-gray:hover, .dark a.bg-soft-gray:focus,
.dark button.bg-soft-gray:hover,
.dark button.bg-soft-gray:focus {
  cursor: pointer;
  color: #cbd0d4;
  background-color: rgba(203, 208, 212, 0.15) !important;
}
.dark .text-primary {
  color: #7016d0 !important;
}
.dark .text-secondary {
  color: #E9ECEF !important;
}
.dark .text-success {
  color: #1AA053 !important;
}
.dark .text-info {
  color: #08B1BA !important;
}
.dark .text-warning {
  color: #F16A1B !important;
}
.dark .text-danger {
  color: #C03221 !important;
}
.dark .text-light {
  color: #dee2e6 !important;
}
.dark .text-dark {
  color: #161D2B !important;
}
.dark .text-tertiray {
  color: #3FF0B9 !important;
}
.dark .text-gray {
  color: #495057 !important;
}
.dark .iq-media-group .iq-icon-box-3 {
  background: #161D2B;
}
.dark .boarder-start {
  border-left-color: rgba(255, 255, 255, 0.1) !important;
}
.dark .border-end {
  border-right-color: rgba(255, 255, 255, 0.1) !important;
}
.dark .border-top {
  border-top-color: rgba(255, 255, 255, 0.1) !important;
}
.dark .border-bottom {
  border-bottom-color: rgba(255, 255, 255, 0.1) !important;
}
.dark {
  color: #fafafa;
  background-color: #0E121B !important;
}
.dark h1, .dark .h1, .dark h2, .dark .h2, .dark h3, .dark .h3, .dark h4, .dark .h4, .dark h5, .dark .h5, .dark h6, .dark .h6 {
  color: #e3e7ef;
}
.dark .border {
  border-color: #383838 !important;
}
.dark .border-bottom {
  border-color: #383838 !important;
}
.dark .datepicker-picker {
  background-color: #161D2B;
}
.dark .datepicker-picker .datepicker-title {
  background-color: #161D2B;
}
.dark .datepicker-picker .datepicker-controls .button {
  background-color: #161D2B;
  color: #fafafa;
}
.dark thead, .dark tbody, .dark tfoot, .dark tr, .dark td, .dark th {
  border-color: #383838;
  color: #fafafa;
}
.dark .offcanvas {
  background-color: #161D2B;
  color: #fafafa;
}
.dark button.close-btn-res {
  color: #cdcdcd;
}
.dark hr.hr-horizontal {
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(rgba(255, 255, 255, 0.4)), to(transparent));
  background-image: -webkit-linear-gradient(left, transparent, rgba(255, 255, 255, 0.4), transparent);
  background-image: -o-linear-gradient(left, transparent, rgba(255, 255, 255, 0.4), transparent);
  background-image: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
}
.dark hr.hr-vertial {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(rgba(255, 255, 255, 0.4)), to(transparent));
  background-image: -webkit-linear-gradient(top, transparent, rgba(255, 255, 255, 0.4), transparent);
  background-image: -o-linear-gradient(top, transparent, rgba(255, 255, 255, 0.4), transparent);
  background-image: linear-gradient(180deg, transparent, rgba(255, 255, 255, 0.4), transparent);
}
.dark .text-dark {
  color: #fafafa !important;
}
.dark .apexcharts-legend-text {
  color: #fafafa !important;
}
.dark .bg-body {
  background-color: #000 !important;
}
.dark .text-gray {
  color: #fafafa !important;
}
.dark .accordion.custom-accordion .accordion-item .accordion-header .accordion-button {
  background: inherit;
}
.dark .accordion.custom-accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  background-color: inherit;
}
.dark .accordion.custom-accordion .accordion-item {
  background: inherit;
}
.dark .accordion .accordion-item {
  background-color: #0E121B;
}
.dark .accordion .accordion-item .accordion-header .accordion-button {
  background-color: #383838;
}
.dark .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  background-color: #383838;
}
.dark .accordion .accordion-item .accordion-header .accordion-button:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}
.dark .btn-border {
  border: 2px solid #383838;
}
.dark .btn-border:hover {
  border-color: #6b6b6b;
}
.dark .btn-border.active {
  border-color: var(--bs-primary);
}
.dark aside.bd-aside .btn:hover, .dark aside.bd-aside .btn:focus, .dark aside.bd-aside .active, .dark aside.bd-aside a:hover {
  color: #fff;
  background-color: #0E121B;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}
.dark .btn.btn-soft-primary:hover, .dark .btn.btn-soft-primary:focus, .dark .btn.btn-soft-primary:active {
  border-color: rgba(var(--bs-primary-rgb), 0.2) !important;
}
.dark .btn-soft-primary {
  --bs-btn-color: #8d45d9;
  --bs-btn-bg: rgba(112, 22, 208, 0.1);
  --bs-btn-border-color: rgba(112, 22, 208, 0);
  --bs-btn-hover-color: #9b5cde;
  --bs-btn-hover-bg: rgba(112, 22, 208, 0.2);
  --bs-btn-hover-border-color: rgba(112, 22, 208, 0.2);
  --bs-btn-focus-shadow-rgb: 141, 69, 217;
  --bs-btn-active-color: #7016d0;
  --bs-btn-active-bg: rgba(112, 22, 208, 0.3);
  --bs-btn-active-border-color: rgba(112, 22, 208, 0.2);
  --bs-btn-active-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #b88be8;
  --bs-btn-disabled-border-color: rgba(112, 22, 208, 0);
  -webkit-box-shadow: unset;
          box-shadow: unset;
}
.dark .btn-soft-secondary {
  --bs-btn-color: #edf0f2;
  --bs-btn-bg: rgba(233, 236, 239, 0.1);
  --bs-btn-border-color: rgba(233, 236, 239, 0);
  --bs-btn-hover-color: #f0f2f4;
  --bs-btn-hover-bg: rgba(233, 236, 239, 0.2);
  --bs-btn-hover-border-color: rgba(233, 236, 239, 0.2);
  --bs-btn-focus-shadow-rgb: 237, 240, 242;
  --bs-btn-active-color: #e9ecef;
  --bs-btn-active-bg: rgba(233, 236, 239, 0.3);
  --bs-btn-active-border-color: rgba(233, 236, 239, 0.2);
  --bs-btn-active-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #f4f6f7;
  --bs-btn-disabled-border-color: rgba(233, 236, 239, 0);
  -webkit-box-shadow: unset;
          box-shadow: unset;
}
.dark .btn-soft-success {
  --bs-btn-color: #48b375;
  --bs-btn-bg: rgba(26, 160, 83, 0.1);
  --bs-btn-border-color: rgba(26, 160, 83, 0);
  --bs-btn-hover-color: #5fbd87;
  --bs-btn-hover-bg: rgba(26, 160, 83, 0.2);
  --bs-btn-hover-border-color: rgba(26, 160, 83, 0.2);
  --bs-btn-focus-shadow-rgb: 72, 179, 117;
  --bs-btn-active-color: #1aa053;
  --bs-btn-active-bg: rgba(26, 160, 83, 0.3);
  --bs-btn-active-border-color: rgba(26, 160, 83, 0.2);
  --bs-btn-active-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #8dd0a9;
  --bs-btn-disabled-border-color: rgba(26, 160, 83, 0);
  -webkit-box-shadow: unset;
          box-shadow: unset;
}
.dark .btn-soft-info {
  --bs-btn-color: #39c1c8;
  --bs-btn-bg: rgba(8, 177, 186, 0.1);
  --bs-btn-border-color: rgba(8, 177, 186, 0);
  --bs-btn-hover-color: #52c8cf;
  --bs-btn-hover-bg: rgba(8, 177, 186, 0.2);
  --bs-btn-hover-border-color: rgba(8, 177, 186, 0.2);
  --bs-btn-focus-shadow-rgb: 57, 193, 200;
  --bs-btn-active-color: #08b1ba;
  --bs-btn-active-bg: rgba(8, 177, 186, 0.3);
  --bs-btn-active-border-color: rgba(8, 177, 186, 0.2);
  --bs-btn-active-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #84d8dd;
  --bs-btn-disabled-border-color: rgba(8, 177, 186, 0);
  -webkit-box-shadow: unset;
          box-shadow: unset;
}
.dark .btn-soft-warning {
  --bs-btn-color: #f48849;
  --bs-btn-bg: rgba(241, 106, 27, 0.1);
  --bs-btn-border-color: rgba(241, 106, 27, 0);
  --bs-btn-hover-color: #f5975f;
  --bs-btn-hover-bg: rgba(241, 106, 27, 0.2);
  --bs-btn-hover-border-color: rgba(241, 106, 27, 0.2);
  --bs-btn-focus-shadow-rgb: 244, 136, 73;
  --bs-btn-active-color: #f16a1b;
  --bs-btn-active-bg: rgba(241, 106, 27, 0.3);
  --bs-btn-active-border-color: rgba(241, 106, 27, 0.2);
  --bs-btn-active-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #f8b58d;
  --bs-btn-disabled-border-color: rgba(241, 106, 27, 0);
  -webkit-box-shadow: unset;
          box-shadow: unset;
}
.dark .btn-soft-danger {
  --bs-btn-color: #cd5b4d;
  --bs-btn-bg: rgba(192, 50, 33, 0.1);
  --bs-btn-border-color: rgba(192, 50, 33, 0);
  --bs-btn-hover-color: #d37064;
  --bs-btn-hover-bg: rgba(192, 50, 33, 0.2);
  --bs-btn-hover-border-color: rgba(192, 50, 33, 0.2);
  --bs-btn-focus-shadow-rgb: 205, 91, 77;
  --bs-btn-active-color: #c03221;
  --bs-btn-active-bg: rgba(192, 50, 33, 0.3);
  --bs-btn-active-border-color: rgba(192, 50, 33, 0.2);
  --bs-btn-active-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #e09990;
  --bs-btn-disabled-border-color: rgba(192, 50, 33, 0);
  -webkit-box-shadow: unset;
          box-shadow: unset;
}
.dark .btn-soft-light {
  --bs-btn-color: #e5e8eb;
  --bs-btn-bg: rgba(222, 226, 230, 0.1);
  --bs-btn-border-color: rgba(222, 226, 230, 0);
  --bs-btn-hover-color: #e8ebee;
  --bs-btn-hover-bg: rgba(222, 226, 230, 0.2);
  --bs-btn-hover-border-color: rgba(222, 226, 230, 0.2);
  --bs-btn-focus-shadow-rgb: 229, 232, 235;
  --bs-btn-active-color: #dee2e6;
  --bs-btn-active-bg: rgba(222, 226, 230, 0.3);
  --bs-btn-active-border-color: rgba(222, 226, 230, 0.2);
  --bs-btn-active-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #eff1f3;
  --bs-btn-disabled-border-color: rgba(222, 226, 230, 0);
  -webkit-box-shadow: unset;
          box-shadow: unset;
}
.dark .btn-soft-dark {
  --bs-btn-color: #454a55;
  --bs-btn-bg: rgba(22, 29, 43, 0.1);
  --bs-btn-border-color: rgba(22, 29, 43, 0);
  --bs-btn-hover-color: #5c616b;
  --bs-btn-hover-bg: rgba(22, 29, 43, 0.2);
  --bs-btn-hover-border-color: rgba(22, 29, 43, 0.2);
  --bs-btn-focus-shadow-rgb: 69, 74, 85;
  --bs-btn-active-color: #161d2b;
  --bs-btn-active-bg: rgba(22, 29, 43, 0.3);
  --bs-btn-active-border-color: rgba(22, 29, 43, 0.2);
  --bs-btn-active-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #8b8e95;
  --bs-btn-disabled-border-color: rgba(22, 29, 43, 0);
  -webkit-box-shadow: unset;
          box-shadow: unset;
}
.dark .btn-soft-tertiray {
  --bs-btn-color: #65f3c7;
  --bs-btn-bg: rgba(63, 240, 185, 0.1);
  --bs-btn-border-color: rgba(63, 240, 185, 0);
  --bs-btn-hover-color: #79f5ce;
  --bs-btn-hover-bg: rgba(63, 240, 185, 0.2);
  --bs-btn-hover-border-color: rgba(63, 240, 185, 0.2);
  --bs-btn-focus-shadow-rgb: 101, 243, 199;
  --bs-btn-active-color: #3ff0b9;
  --bs-btn-active-bg: rgba(63, 240, 185, 0.3);
  --bs-btn-active-border-color: rgba(63, 240, 185, 0.2);
  --bs-btn-active-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #9ff8dc;
  --bs-btn-disabled-border-color: rgba(63, 240, 185, 0);
  -webkit-box-shadow: unset;
          box-shadow: unset;
}
.dark .btn-soft-gray {
  --bs-btn-color: #6d7379;
  --bs-btn-bg: rgba(73, 80, 87, 0.1);
  --bs-btn-border-color: rgba(73, 80, 87, 0);
  --bs-btn-hover-color: #808589;
  --bs-btn-hover-bg: rgba(73, 80, 87, 0.2);
  --bs-btn-hover-border-color: rgba(73, 80, 87, 0.2);
  --bs-btn-focus-shadow-rgb: 109, 115, 121;
  --bs-btn-active-color: #495057;
  --bs-btn-active-bg: rgba(73, 80, 87, 0.3);
  --bs-btn-active-border-color: rgba(73, 80, 87, 0.2);
  --bs-btn-active-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #a4a8ab;
  --bs-btn-disabled-border-color: rgba(73, 80, 87, 0);
  -webkit-box-shadow: unset;
          box-shadow: unset;
}
.dark .btn-close {
  -webkit-filter: invert(1);
          filter: invert(1);
}
.dark .footer {
  background: #161D2B !important;
}
.dark .footer.glass {
  background-color: rgba(22, 29, 43, 0.5);
  border-top: 1px solid #383838;
}
.dark .alert-primary {
  --bs-alert-color: #8d45d9;
  --bs-alert-bg: #2d0953;
  --bs-alert-border-color: #7016d0;
}
.dark .alert-primary .alert-link {
  color: #7137ae;
}
.dark .alert-primary .btn-close {
  -webkit-filter: invert(1) grayscale(100%) brightness(200%);
          filter: invert(1) grayscale(100%) brightness(200%);
}
.dark .alert-secondary {
  --bs-alert-color: #edf0f2;
  --bs-alert-bg: #5d5e60;
  --bs-alert-border-color: #e9ecef;
}
.dark .alert-secondary .alert-link {
  color: #bec0c2;
}
.dark .alert-secondary .btn-close {
  -webkit-filter: invert(1) grayscale(100%) brightness(200%);
          filter: invert(1) grayscale(100%) brightness(200%);
}
.dark .alert-success {
  --bs-alert-color: #48b375;
  --bs-alert-bg: #0a4021;
  --bs-alert-border-color: #1aa053;
}
.dark .alert-success .alert-link {
  color: #3a8f5e;
}
.dark .alert-success .btn-close {
  -webkit-filter: invert(1) grayscale(100%) brightness(200%);
          filter: invert(1) grayscale(100%) brightness(200%);
}
.dark .alert-info {
  --bs-alert-color: #39c1c8;
  --bs-alert-bg: #03474a;
  --bs-alert-border-color: #08b1ba;
}
.dark .alert-info .alert-link {
  color: #2e9aa0;
}
.dark .alert-info .btn-close {
  -webkit-filter: invert(1) grayscale(100%) brightness(200%);
          filter: invert(1) grayscale(100%) brightness(200%);
}
.dark .alert-warning {
  --bs-alert-color: #f48849;
  --bs-alert-bg: #602a0b;
  --bs-alert-border-color: #f16a1b;
}
.dark .alert-warning .alert-link {
  color: #c36d3a;
}
.dark .alert-warning .btn-close {
  -webkit-filter: invert(1) grayscale(100%) brightness(200%);
          filter: invert(1) grayscale(100%) brightness(200%);
}
.dark .alert-danger {
  --bs-alert-color: #cd5b4d;
  --bs-alert-bg: #4d140d;
  --bs-alert-border-color: #c03221;
}
.dark .alert-danger .alert-link {
  color: #a4493e;
}
.dark .alert-danger .btn-close {
  -webkit-filter: invert(1) grayscale(100%) brightness(200%);
          filter: invert(1) grayscale(100%) brightness(200%);
}
.dark .alert-light {
  --bs-alert-color: #e5e8eb;
  --bs-alert-bg: #595a5c;
  --bs-alert-border-color: #dee2e6;
}
.dark .alert-light .alert-link {
  color: #b7babc;
}
.dark .alert-light .btn-close {
  -webkit-filter: invert(1) grayscale(100%) brightness(200%);
          filter: invert(1) grayscale(100%) brightness(200%);
}
.dark .alert-dark {
  --bs-alert-color: #454a55;
  --bs-alert-bg: #090c11;
  --bs-alert-border-color: #161d2b;
}
.dark .alert-dark .alert-link {
  color: #373b44;
}
.dark .alert-dark .btn-close {
  -webkit-filter: invert(1) grayscale(100%) brightness(200%);
          filter: invert(1) grayscale(100%) brightness(200%);
}
.dark .alert-tertiray {
  --bs-alert-color: #65f3c7;
  --bs-alert-bg: #19604a;
  --bs-alert-border-color: #3ff0b9;
}
.dark .alert-tertiray .alert-link {
  color: #51c29f;
}
.dark .alert-tertiray .btn-close {
  -webkit-filter: invert(1) grayscale(100%) brightness(200%);
          filter: invert(1) grayscale(100%) brightness(200%);
}
.dark .alert-gray {
  --bs-alert-color: #6d7379;
  --bs-alert-bg: #1d2023;
  --bs-alert-border-color: #495057;
}
.dark .alert-gray .alert-link {
  color: #575c61;
}
.dark .alert-gray .btn-close {
  -webkit-filter: invert(1) grayscale(100%) brightness(200%);
          filter: invert(1) grayscale(100%) brightness(200%);
}
.dark .alert-solid.alert-primary {
  --bs-alert-color: #fff;
  --bs-alert-bg: #7016d0;
  --bs-alert-border-color: #7016d0;
}
.dark .alert-solid.alert-primary .alert-link {
  color: #cccccc;
}
.dark .alert-solid.alert-primary .btn-close {
  -webkit-filter: unset;
          filter: unset;
}
.dark .alert-solid.alert-secondary {
  --bs-alert-color: #fff;
  --bs-alert-bg: #E9ECEF;
  --bs-alert-border-color: #E9ECEF;
}
.dark .alert-solid.alert-secondary .alert-link {
  color: #cccccc;
}
.dark .alert-solid.alert-secondary .btn-close {
  -webkit-filter: unset;
          filter: unset;
}
.dark .alert-solid.alert-success {
  --bs-alert-color: #fff;
  --bs-alert-bg: #1AA053;
  --bs-alert-border-color: #1AA053;
}
.dark .alert-solid.alert-success .alert-link {
  color: #cccccc;
}
.dark .alert-solid.alert-success .btn-close {
  -webkit-filter: unset;
          filter: unset;
}
.dark .alert-solid.alert-info {
  --bs-alert-color: #fff;
  --bs-alert-bg: #08B1BA;
  --bs-alert-border-color: #08B1BA;
}
.dark .alert-solid.alert-info .alert-link {
  color: #cccccc;
}
.dark .alert-solid.alert-info .btn-close {
  -webkit-filter: unset;
          filter: unset;
}
.dark .alert-solid.alert-warning {
  --bs-alert-color: #fff;
  --bs-alert-bg: #F16A1B;
  --bs-alert-border-color: #F16A1B;
}
.dark .alert-solid.alert-warning .alert-link {
  color: #cccccc;
}
.dark .alert-solid.alert-warning .btn-close {
  -webkit-filter: unset;
          filter: unset;
}
.dark .alert-solid.alert-danger {
  --bs-alert-color: #fff;
  --bs-alert-bg: #C03221;
  --bs-alert-border-color: #C03221;
}
.dark .alert-solid.alert-danger .alert-link {
  color: #cccccc;
}
.dark .alert-solid.alert-danger .btn-close {
  -webkit-filter: unset;
          filter: unset;
}
.dark .alert-solid.alert-light {
  --bs-alert-color: #fff;
  --bs-alert-bg: #dee2e6;
  --bs-alert-border-color: #dee2e6;
}
.dark .alert-solid.alert-light .alert-link {
  color: #cccccc;
}
.dark .alert-solid.alert-light .btn-close {
  -webkit-filter: unset;
          filter: unset;
}
.dark .alert-solid.alert-dark {
  --bs-alert-color: #fff;
  --bs-alert-bg: #161D2B;
  --bs-alert-border-color: #161D2B;
}
.dark .alert-solid.alert-dark .alert-link {
  color: #cccccc;
}
.dark .alert-solid.alert-dark .btn-close {
  -webkit-filter: unset;
          filter: unset;
}
.dark .alert-solid.alert-tertiray {
  --bs-alert-color: #fff;
  --bs-alert-bg: #3FF0B9;
  --bs-alert-border-color: #3FF0B9;
}
.dark .alert-solid.alert-tertiray .alert-link {
  color: #cccccc;
}
.dark .alert-solid.alert-tertiray .btn-close {
  -webkit-filter: unset;
          filter: unset;
}
.dark .alert-solid.alert-gray {
  --bs-alert-color: #fff;
  --bs-alert-bg: #495057;
  --bs-alert-border-color: #495057;
}
.dark .alert-solid.alert-gray .alert-link {
  color: #cccccc;
}
.dark .alert-solid.alert-gray .btn-close {
  -webkit-filter: unset;
          filter: unset;
}
.dark .alert-left.alert-primary {
  border-color: #7016d0;
}
.dark .alert-left.alert-secondary {
  border-color: #E9ECEF;
}
.dark .alert-left.alert-success {
  border-color: #1AA053;
}
.dark .alert-left.alert-info {
  border-color: #08B1BA;
}
.dark .alert-left.alert-warning {
  border-color: #F16A1B;
}
.dark .alert-left.alert-danger {
  border-color: #C03221;
}
.dark .alert-left.alert-light {
  border-color: #dee2e6;
}
.dark .alert-left.alert-dark {
  border-color: #161D2B;
}
.dark .alert-left.alert-tertiray {
  border-color: #3FF0B9;
}
.dark .alert-left.alert-gray {
  border-color: #495057;
}
.dark .alert-top.alert-primary {
  border-color: #7016d0;
}
.dark .alert-top.alert-secondary {
  border-color: #E9ECEF;
}
.dark .alert-top.alert-success {
  border-color: #1AA053;
}
.dark .alert-top.alert-info {
  border-color: #08B1BA;
}
.dark .alert-top.alert-warning {
  border-color: #F16A1B;
}
.dark .alert-top.alert-danger {
  border-color: #C03221;
}
.dark .alert-top.alert-light {
  border-color: #dee2e6;
}
.dark .alert-top.alert-dark {
  border-color: #161D2B;
}
.dark .alert-top.alert-tertiray {
  border-color: #3FF0B9;
}
.dark .alert-top.alert-gray {
  border-color: #495057;
}
.dark .alert-right.alert-primary {
  border-color: #7016d0;
}
.dark .alert-right.alert-secondary {
  border-color: #E9ECEF;
}
.dark .alert-right.alert-success {
  border-color: #1AA053;
}
.dark .alert-right.alert-info {
  border-color: #08B1BA;
}
.dark .alert-right.alert-warning {
  border-color: #F16A1B;
}
.dark .alert-right.alert-danger {
  border-color: #C03221;
}
.dark .alert-right.alert-light {
  border-color: #dee2e6;
}
.dark .alert-right.alert-dark {
  border-color: #161D2B;
}
.dark .alert-right.alert-tertiray {
  border-color: #3FF0B9;
}
.dark .alert-right.alert-gray {
  border-color: #495057;
}
.dark .alert-bottom.alert-primary {
  border-color: #7016d0;
}
.dark .alert-bottom.alert-secondary {
  border-color: #E9ECEF;
}
.dark .alert-bottom.alert-success {
  border-color: #1AA053;
}
.dark .alert-bottom.alert-info {
  border-color: #08B1BA;
}
.dark .alert-bottom.alert-warning {
  border-color: #F16A1B;
}
.dark .alert-bottom.alert-danger {
  border-color: #C03221;
}
.dark .alert-bottom.alert-light {
  border-color: #dee2e6;
}
.dark .alert-bottom.alert-dark {
  border-color: #161D2B;
}
.dark .alert-bottom.alert-tertiray {
  border-color: #3FF0B9;
}
.dark .alert-bottom.alert-gray {
  border-color: #495057;
}
.dark .card {
  background: #161D2B;
}
.dark .card .card-header, .dark .card .card-footer {
  background-color: #161D2B;
  border-bottom-color: #383838;
}
.dark .card .card {
  border: 1px solid #383838;
}
.dark .card-footer {
  border-top: 1px solid #383838;
}
.dark .apexcharts-theme-light .apexcharts-tooltip {
  background: #161D2B;
  border: 1px solid #383838;
}
.dark .apexcharts-theme-light .apexcharts-tooltip .apexcharts-tooltip-title {
  background: #161D2B;
  border: 1px solid #383838;
}
.dark .apexcharts-theme-light .apexcharts-xaxistooltip {
  background: #161D2B;
  border: 1px solid #383838;
}
.dark .apexcharts-theme-light .apexcharts-xaxistooltip .apexcharts-xaxistooltip-text {
  color: #fafafa;
}
.dark .apexcharts-canvas svg .apexcharts-datalabels-group .apexcharts-datalabel-value {
  fill: #fff;
}
.dark .icon-box {
  border-color: #383838;
  color: #E9ECEF;
}
.dark .icon-box .overlay {
  background-color: #0E121B;
}
.dark .icon-box:hover .overlay .btn {
  color: #fff;
}
.dark .form-control {
  color: #fafafa;
  background-color: #161D2B;
  border-color: #383838;
}
.dark .form-control.is-invalid {
  border-color: #C03221;
}
.dark .form-control.is-valid {
  border-color: #1AA053;
}
.dark .form-check-input {
  color: #fafafa;
  background-color: #161D2B;
  border-color: #383838;
}
.dark .form-select {
  border-color: rgba(255, 255, 255, 0.1);
  color: #fafafa;
  background-color: #161D2B;
}
.dark .form-select.is-invalid {
  border-color: #C03221;
}
.dark .input-group-text {
  background-color: #161D2B;
  border-color: rgba(255, 255, 255, 0.1);
}
.dark .form-control {
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.dark .nav .search-input.input-group:focus-within .input-group-text, .dark .nav .search-input.input-group:focus-within .form-control {
  border-color: var(--bs-primary-shade-40);
}
.dark .stepwizard-row a.btn {
  color: #fafafa;
  background-color: #0E121B;
}
.dark #top-tabbar-vertical li a {
  color: #fafafa;
  background-color: #0E121B;
}
.dark .custom-form-floating > .form-control:focus ~ label,
.dark .custom-form-floating > .form-control:not(:placeholder-shown) ~ label,
.dark .custom-form-floating > .form-select ~ label {
  background-color: #161D2B;
}
.dark .nav {
  background: #161D2B;
}
.dark .nav .navbar-brand .logo-title {
  color: #fff;
}
.dark .iq-navbar {
  border-color: #161D2B;
  background-color: #161D2B;
}
.dark .iq-navbar .navbar-brand .logo-title {
  color: #fff;
}
.dark .iq-navbar.nav-glass {
  background: rgba(22, 29, 43, 0.5);
  border-color: #383838;
}
.dark .iq-navbar.nav-glass .nav {
  background: transparent;
}
.dark .iq-navbar .dropdown .dropdown-menu.sub-drop li a {
  color: #fafafa;
}
.dark .iq-navbar .dropdown .dropdown-menu.sub-drop .iq-sub-card {
  color: #fafafa;
}
.dark .iq-navbar .dropdown .dropdown-menu.sub-drop .iq-sub-card:hover {
  background: #0b0215;
}
.dark .iq-navbar .dropdown .dropdown-menu.sub-drop .iq-sub-card:not(:last-child) {
  border-bottom: 1px solid #383838;
}
.dark .iq-navbar.navs-transparent {
  background: transparent;
}
.dark .list-group-item:not(.list-group-item-action) {
  background-color: unset;
}
@media (max-width: 1199.98px) {
  .dark .iq-navbar .navbar-collapse:not(.offcanvas-collapse) {
    background: #161D2B;
    padding: 0.5em 0em;
  }
}
@media (min-width: 1200px) {
  .dark .iq-navbar.navs-transparent .product-offcanvas .offcanvas, .dark .iq-navbar.nav-glass .product-offcanvas .offcanvas {
    background-color: inherit;
  }
}
.dark .tab-bottom-bordered .nav-tabs .nav-link.active {
  background-color: unset;
  color: var(--bs-primary);
  -webkit-box-shadow: unset;
          box-shadow: unset;
}
.dark .nav-link {
  color: #fafafa;
}
.dark .iq-nav-menu li .nav-link.active {
  color: #fff;
  background: rgba(var(--bs-primary-rgb), 0.9);
}
.dark .iq-nav-menu li .nav-link.active:hover {
  color: #fff;
}
.dark .iq-nav-menu li .nav-link:hover {
  color: #fff;
}
.dark .nav-link {
  color: #fafafa;
}
.dark .nav .navbar-toggler .navbar-toggler-icon .navbar-toggler-bar {
  background: #fff;
}
.dark #top-tab-list li a {
  color: #161D2B;
  background: #0E121B;
}
.dark #top-tab-list li a .iq-icon {
  background: #161D2B;
}
.dark #top-tab-list li a .iq-icon .svg-icon {
  color: #fff;
}
.dark #top-tab-list li a .dark-wizard {
  color: white;
}
.dark #top-tab-list li.active a {
  background: var(--bs-primary);
  color: #fff;
}
.dark #top-tab-list li.active a .iq-icon {
  background: #fff;
}
.dark #top-tab-list li.active a .iq-icon .svg-icon {
  color: var(--bs-primary);
}
.dark #top-tab-list li.active.done a {
  background: #1AA053;
}
.dark #top-tab-list li.active.done a i {
  color: #1AA053;
}
.dark #top-tab-list li#confirm.active a {
  background: #1AA053;
}
.dark #top-tab-list li#confirm.active a i {
  color: #1AA053;
}
.dark .modal-footer, .dark .modal-header {
  border-color: #383838;
}
.dark .dropdown-menu {
  background-color: #0E121B;
  color: #fafafa;
}
.dark .dropdown-menu .dropdown-item {
  color: #fafafa;
  background-color: transparent;
}
.dark .like-block span {
  color: #fafafa;
}
.dark .dropdown > .dropdown-menu {
  background-color: #0E121B;
}
.dark .dropdown > .dropdown-menu > a {
  color: #fafafa;
}
.dark .profile-media::before {
  border-color: #383838;
}
.dark .profile-dots-pills {
  background-color: #161D2B;
}
.dark .iq-timeline:before {
  background-color: #383838;
}
.dark .iq-timeline li .timeline-dots {
  background-color: #161D2B;
}
.dark .iq-timeline0:before {
  background-color: #383838;
}
.dark .iq-timeline0 li .timeline-dots, .dark .iq-timeline0 li .timeline-dots1 {
  background-color: #161D2B;
}
.dark .credit-card-widget .primary-gradient-card {
  border-color: #000 !important;
}
.dark .credit-card-widget .primary-gradient-card {
  background: -webkit-linear-gradient(332.24deg, rgba(0, 0, 0, 0.5) -7.21%, rgba(0, 0, 0, 0.01) 118.08%);
  background: -o-linear-gradient(332.24deg, rgba(0, 0, 0, 0.5) -7.21%, rgba(0, 0, 0, 0.01) 118.08%);
  background: linear-gradient(117.76deg, rgba(0, 0, 0, 0.5) -7.21%, rgba(0, 0, 0, 0.01) 118.08%);
}
.dark .iq-ribbon-effect {
  background: #0E121B;
}
.dark .iq-ribbon-effect:before {
  border-top: 1.5em solid #0E121B;
}
.dark .iq-ribbon-effect::after {
  border-top: 1.5em solid #0E121B;
}
.dark .circle-progress-circle {
  stroke: #E9ECEF;
}
.dark .page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: var(--bs-primary);
  border-color: #E9ECEF;
}
.dark .page-item .page-link {
  background-color: #161D2B;
  border-color: #E9ECEF;
  color: #fafafa;
}
.dark .page-item .page-link.disabled .page-link {
  background-color: #0E121B;
}
.dark .list-group .list-group-item {
  border-color: #383838;
}
.dark .list-group .list-group-item:not(.list-group-item-action) {
  color: #fafafa;
}
.dark .list-group .list-group-item.list-group-item-action:not(.active) {
  background-color: #0E121B;
  color: #fff;
}
.dark .bg-light {
  background: #60658a !important;
}
.dark .list-group .list-group-item.list-group-item-action.list-group-item-primary {
  background-color: rgba(112, 22, 208, 0.1);
  color: #fff;
}
.dark .list-group .list-group-item.list-group-item-action.list-group-item-primary:hover {
  background-color: rgba(112, 22, 208, 0.05);
  color: #7016d0;
}
.dark .list-group .list-group-item.list-group-item-action.list-group-item-secondary {
  background-color: rgba(233, 236, 239, 0.1);
  color: #fff;
}
.dark .list-group .list-group-item.list-group-item-action.list-group-item-secondary:hover {
  background-color: rgba(233, 236, 239, 0.05);
  color: #E9ECEF;
}
.dark .list-group .list-group-item.list-group-item-action.list-group-item-success {
  background-color: rgba(26, 160, 83, 0.1);
  color: #fff;
}
.dark .list-group .list-group-item.list-group-item-action.list-group-item-success:hover {
  background-color: rgba(26, 160, 83, 0.05);
  color: #1AA053;
}
.dark .list-group .list-group-item.list-group-item-action.list-group-item-info {
  background-color: rgba(8, 177, 186, 0.1);
  color: #fff;
}
.dark .list-group .list-group-item.list-group-item-action.list-group-item-info:hover {
  background-color: rgba(8, 177, 186, 0.05);
  color: #08B1BA;
}
.dark .list-group .list-group-item.list-group-item-action.list-group-item-warning {
  background-color: rgba(241, 106, 27, 0.1);
  color: #fff;
}
.dark .list-group .list-group-item.list-group-item-action.list-group-item-warning:hover {
  background-color: rgba(241, 106, 27, 0.05);
  color: #F16A1B;
}
.dark .list-group .list-group-item.list-group-item-action.list-group-item-danger {
  background-color: rgba(192, 50, 33, 0.1);
  color: #fff;
}
.dark .list-group .list-group-item.list-group-item-action.list-group-item-danger:hover {
  background-color: rgba(192, 50, 33, 0.05);
  color: #C03221;
}
.dark .list-group .list-group-item.list-group-item-action.list-group-item-light {
  background-color: rgba(222, 226, 230, 0.1);
  color: #fff;
}
.dark .list-group .list-group-item.list-group-item-action.list-group-item-light:hover {
  background-color: rgba(222, 226, 230, 0.05);
  color: #dee2e6;
}
.dark .list-group .list-group-item.list-group-item-action.list-group-item-dark {
  background-color: rgba(22, 29, 43, 0.1);
  color: #fff;
}
.dark .list-group .list-group-item.list-group-item-action.list-group-item-dark:hover {
  background-color: rgba(22, 29, 43, 0.05);
  color: #161D2B;
}
.dark .list-group .list-group-item.list-group-item-action.list-group-item-tertiray {
  background-color: rgba(63, 240, 185, 0.1);
  color: #fff;
}
.dark .list-group .list-group-item.list-group-item-action.list-group-item-tertiray:hover {
  background-color: rgba(63, 240, 185, 0.05);
  color: #3FF0B9;
}
.dark .list-group .list-group-item.list-group-item-action.list-group-item-gray {
  background-color: rgba(73, 80, 87, 0.1);
  color: #fff;
}
.dark .list-group .list-group-item.list-group-item-action.list-group-item-gray:hover {
  background-color: rgba(73, 80, 87, 0.05);
  color: #495057;
}
.dark .table thead tr th {
  background-color: #0E121B;
  color: #fafafa;
}
.dark .table tbody tr td {
  color: #cdcdcd;
}
.dark .table-striped > tbody > tr:nth-of-type(even) > * {
  --bs-table-accent-bg: #151824;
}
.dark .fancy-table table tbody tr td {
  background-color: #161D2B;
}
.dark table.dataTable.table-striped > tbody > tr.odd {
  --bs-table-accent-bg: $card-bg;
}
.dark .table tbody tr.table-primary td {
  color: #60658a;
}
.dark .table tbody tr.table-secondary td {
  color: #60658a;
}
.dark .table tbody tr.table-success td {
  color: #60658a;
}
.dark .table tbody tr.table-info td {
  color: #60658a;
}
.dark .table tbody tr.table-warning td {
  color: #60658a;
}
.dark .table tbody tr.table-danger td {
  color: #60658a;
}
.dark .table tbody tr.table-light td {
  color: #60658a;
}
.dark .table tbody tr.table-dark td {
  color: #60658a;
}
.dark .table tbody tr.table-tertiray td {
  color: #60658a;
}
.dark .table tbody tr.table-gray td {
  color: #60658a;
}
.dark .table-responsive .form-select {
  border-color: rgba(255, 255, 255, 0.1);
}
.dark .dataTables_filter .form-control:focus {
  background-color: #0E121B;
}
.dark .page-item .page-link {
  border-color: rgba(255, 255, 255, 0.1) !important;
}
.dark .iq-example-row .row > .col {
  color: #b3b3b3;
}
.dark .toast {
  background-color: #161D2B;
  border-color: #383838;
}
.dark .toast .toast-header {
  background-color: #0E121B;
}
.dark #qui-dashboard .swiper-arrow-button .swiper-button-prev {
  color: #fff;
}
.dark #qui-dashboard .swiper-arrow-button .swiper-button-next {
  color: #fff;
}
.dark .card .card-body .iq-icon-box-2 {
  background: #0E121B;
}
.dark .pricing .table th {
  border-color: #383838;
}
.dark .pricing .table th.bg-light {
  background: #0E121B !important;
}
.dark .pricing .table thead tr {
  border-color: #383838;
}
.dark .pricing .table tr {
  border-color: #383838;
}
.dark .prc-box.active .type {
  color: #fff;
}
.dark .iq-single-card.bg-light {
  background: #60658a !important;
}
.dark .line-around {
  border-color: #383838;
}
.dark .line-around .line-around-1 {
  background: #161D2B;
}
.dark .login-content .bg-white {
  background: #161D2B !important;
}
.dark .apexcharts-svg .apexcharts-yaxis-texts-g text {
  fill: #E9ECEF;
}
.dark .apexcharts-svg .apexcharts-xaxis-texts-g text {
  fill: #E9ECEF;
}
.dark .choices.is-disabled .choices__inner {
  background-color: #161D2B;
}
.dark .choices.is-disabled .choices__input {
  background-color: #161D2B;
}
.dark .choices[data-type*=select-one]:after {
  border-color: #fafafa transparent transparent;
}
.dark .flatpickr-months .flatpickr-prev-month > svg {
  fill: #161D2B;
  color: #161D2B;
}
.dark .flatpickr-months .flatpickr-prev-month > svg:hover {
  fill: var(--bs-primary-shade-40) !important;
  color: var(--bs-primary-shade-40) !important;
}
.dark .course-picker .flatpickr-months .flatpickr-next-month svg {
  color: var(--bs-primary-shade-40) !important;
  fill: var(--bs-primary-shade-40) !important;
}
.dark .course-picker .flatpickr-months .flatpickr-next-month:hover svg {
  fill: var(--bs-primary-shade-40) !important;
  color: var(--bs-primary-shade-40) !important;
}
.dark .course-picker .flatpickr-months .flatpickr-prev-month svg {
  color: var(--bs-primary-shade-40) !important;
  fill: var(--bs-primary-shade-40) !important;
}
.dark .course-picker .flatpickr-months .flatpickr-prev-month:hover svg {
  fill: var(--bs-primary-shade-40) !important;
  color: var(--bs-primary-shade-40) !important;
}
.dark .swal2-popup {
  background: #161D2B;
}
.dark .shepherd-has-title .shepherd-content .shepherd-header {
  background: #161D2B;
}
.dark .shepherd-element.shepherd-has-title[data-popper-placement^=bottom] > .shepherd-arrow:before {
  background-color: #161D2B;
  border-left: 1px solid #161D2B;
  border-top: 1px solid #161D2B;
}
.dark .shepherd-content {
  background-color: #161D2B;
}
.dark .shepherd-element {
  background-color: #161D2B;
}
.dark .shepherd-modal-overlay-container.shepherd-modal-is-visible path {
  -webkit-filter: invert(1);
          filter: invert(1);
}
.dark .shepherd-arrow:before {
  background: #161D2B;
}
.dark .fc-other-month.fc-past, .dark .fc-other-month.fc-future {
  background-color: #0E121B;
}
.dark.boxed {
  background: var(--bs-primary) !important;
}
.dark.boxed .boxed-inner {
  background: #0E121B;
}
.dark.boxed-fancy {
  background: #0E121B;
}
.dark.boxed-fancy .boxed-inner {
  background: #0E121B;
}
.dark.dual-compact .nav-underline .nav-link:hover {
  color: var(--bs-primary);
}
.dark.dual-compact .nav-underline .active {
  color: #dee2e6;
}
.dark.dual-compact .nav-scroller .nav {
  background-color: #000;
}
.dark .dual-horizontal .nav {
  background-color: var(--bs-primary);
}
.dark .sidebar {
  background-color: #161D2B;
}
.dark .sidebar .navbar-brand .logo-title {
  color: #fff;
}
.dark .sidebar .sidebar-header {
  border-color: #383838;
}
.dark .sidebar-list .navbar-nav .nav-item .nav-link.static-item .default-icon {
  color: #cdcdcd;
}
.dark .sidebar-base .nav-item .nav-link:not(.static-item)[aria-expanded=true] {
  color: #fff;
}
.dark .sidebar-base .nav-item .nav-link:not(.static-item).active {
  color: #fff;
}
.dark .sidebar-base .nav-item .nav-link:not(.disabled) {
  color: #fafafa;
}
.dark .sidebar.sidebar-color.sidebar-default .nav-link.active {
  color: #7016d0;
  background-color: #fff;
}
.dark .sidebar.sidebar-color.sidebar-default .nav-link[aria-expanded=true] {
  color: #7016d0;
  background-color: #fff;
}
.dark .sidebar.sidebar-dark {
  background-color: #161D2B;
}
.dark .sidebar.sidebar-color {
  background-color: #7016d0;
}
.dark .sidebar.sidebar-transparent {
  background-color: transparent;
}
.dark .sidebar.sidebar-default .nav-link:not(.static-item):hover:not(.active):not([aria-expanded=true]) {
  background-color: rgba(var(--bs-primary-rgb), 0.2);
  color: #fff;
}
.dark .sidebar.sidebar-color.sidebar-default .nav-link:not(.static-item):hover:not(.active):not([aria-expanded=true]) {
  color: #7016d0;
  background-color: rgba(var(--bs-white-rgb), 0.2);
}
@media (max-width: 991px) {
  .dark .horizontal-nav.mobile-offcanvas .nav-link {
    color: #fff;
  }
}
.dark.boxed {
  background: var(--bs-primary) !important;
}
.dark.boxed .boxed-inner {
  background: #0E121B;
}
.dark.boxed-fancy {
  background: #0E121B;
}
.dark.boxed-fancy .boxed-inner {
  background: #0E121B;
}
.dark .iq-nav-menu a {
  color: #fafafa;
}
.dark .iq-nav-menu li > ul {
  background: #161D2B;
}
@media all and (min-width: 992px) {
  .dark .navbar .hover-nav .nav-item:hover .nav-link {
    color: #fff;
  }
}
.dark .flatpickr-calendar {
  background: #161D2B;
  -webkit-box-shadow: 1px 0 0 rgba(22, 29, 43, 0.3), -1px 0 0 rgba(22, 29, 43, 0.3), 0 1px 0 rgba(22, 29, 43, 0.3), 0 -1px 0 rgba(22, 29, 43, 0.3), 0 3px 13px rgba(0, 0, 0, 0.08);
          box-shadow: 1px 0 0 rgba(22, 29, 43, 0.3), -1px 0 0 rgba(22, 29, 43, 0.3), 0 1px 0 rgba(22, 29, 43, 0.3), 0 -1px 0 rgba(22, 29, 43, 0.3), 0 3px 13px rgba(0, 0, 0, 0.08);
}
.dark .flatpickr-calendar .flatpickr-innerContainer .flatpickr-rContainer .flatpickr-weekdays .flatpickr-weekdaycontainer .flatpickr-weekday {
  color: #fafafa;
}
.dark .flatpickr-months .flatpickr-month {
  color: #fafafa;
}
.dark .flatpickr-calendar.arrowTop:after,
.dark .flatpickr-calendar.arrowTop:before {
  border-bottom-color: #fafafa;
}
.dark .flatpickr-months .flatpickr-next-month, .dark .flatpickr-months .flatpickr-prev-month {
  color: #fafafa;
  fill: #fafafa;
}
.dark .flatpickr-months .flatpickr-next-month:hover svg, .dark .flatpickr-months .flatpickr-next-month:focus svg, .dark .flatpickr-months .flatpickr-prev-month:hover svg, .dark .flatpickr-months .flatpickr-prev-month:focus svg {
  color: #161D2B;
  fill: #000;
}
.dark .flatpickr-day {
  color: #fafafa;
}
.dark .flatpickr-day.today {
  border-color: rgba(255, 255, 255, 0.1);
}
.dark .flatpickr-day.selected {
  background: #161D2B;
  border-color: #161D2B;
  color: #fff;
}
.dark .flatpickr-day.inRange, .dark .flatpickr-day.nextMonthDay.inRange, .dark .flatpickr-day.nextMonthDay.today.inRange {
  background: #161D2B;
  border-color: #161D2B;
  color: #fff;
}
.dark .flatpickr-day.nextMonthDay:focus, .dark .flatpickr-day.nextMonthDay:hover, .dark .flatpickr-day.prevMonthDay.inRange, .dark .flatpickr-day.prevMonthDay.today.inRange, .dark .flatpickr-day.prevMonthDay:focus, .dark .flatpickr-day.prevMonthDay:hover {
  border-color: rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.3);
  color: rgba(0, 0, 0, 0.8);
}
.dark .flatpickr-day.today.inRange, .dark .flatpickr-day:focus, .dark .flatpickr-day:hover {
  border-color: #161D2B;
  background: #161D2B;
  color: #fafafa;
}
.dark .flatpickr-day.nextMonthDay,
.dark .flatpickr-day.flatpickr-disabled {
  color: rgba(250, 250, 250, 0.5);
}
.dark .flatpickr-day.nextMonthDay:hover,
.dark .flatpickr-day.flatpickr-disabled:hover {
  border-color: rgba(22, 29, 43, 0.5);
  background: rgba(22, 29, 43, 0.5);
  color: rgba(250, 250, 250, 0.7);
}
.dark .flatpickr-day.inRange {
  -webkit-box-shadow: -5px 0 0 rgba(22, 29, 43, 0.3), 5px 0 0 rgba(22, 29, 43, 0.3);
          box-shadow: -5px 0 0 rgba(22, 29, 43, 0.3), 5px 0 0 rgba(22, 29, 43, 0.3);
}
.dark .dayContainer .flatpickr-day.endRange, .dark .dayContainer .flatpickr-day.startRange {
  background: rgba(14, 18, 27, 0.6);
  border-color: #161D2B;
}
.dark .select2-container--default .select2-selection--single,
.dark .select2-container--default .select2-selection--multiple {
  background-color: #161D2B;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.dark .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #fafafa;
}
.dark .select2-dropdown {
  background: #0E121B;
  border-color: rgba(255, 255, 255, 0.1);
}
.dark .select2-search__field {
  background: #161D2B;
  border-color: rgba(255, 255, 255, 0.1) !important;
}
.dark .choices__inner {
  background-color: #161D2B;
  border-color: rgba(255, 255, 255, 0.1);
}
.dark .choices__inner:hover {
  border-color: var(--bs-primary-shade-40);
}
.dark .choices__input {
  background-color: #161D2B;
}
.dark .choices__list--dropdown {
  border-color: rgba(255, 255, 255, 0.1);
  background-color: #161D2B;
  color: var(--bs-body-color);
}