body{
    font-family: 'Silka';
}
.cont_main{
    min-height: 65vh;
    padding-left: 0;
    padding-right: 0;
    padding-top: 4.5%;
}
.pointer{
    cursor: pointer;
}
.bold{
    font-weight: bold;
}
.font_bq{
    font-family: 'corporate_s_expert_bqregular';
}
a{
    text-decoration: none;
}

.bar-menu{
    background-color: #0F0F0F;
    position: fixed;
    width: 100%;
    padding: 10px 20px;
    align-items: center;
    z-index: 9;
    // justify-content: center;

    .logo{
        max-width: 19vw;
        min-width: 180px;
    }
    .btn_menu{
        background-image: url(../images/menu.svg);
        background-position: left center;
        background-repeat: no-repeat;
        background-size: contain;
        padding-left: 40px;
        margin-left: 30px;
        margin-right: 20px;
        color:#FFBC07;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s;
        min-height: 24px;

        &:hover{
            color:#dea405;
        }
    }
    .container-session{
        margin-left: auto;
        padding-left: 2%;
        

        .col-auto{
            display: flex;
            align-items: center;
        }

        p{
            color: #FFFFFF;
            margin-bottom: 0;
            cursor: pointer;
        }
        .line-v{
            height: 38px;
            width: 1px;
            background-color: #FFBC07;
        }
        .cart{
            height: 80%;
            cursor: pointer;
            img{
                display: block;
                max-height: 100%;
            }
        }

    }
}
.bg_menu{
    background-color: rgba($color: #000000, $alpha: 0.5);
    transition: all 0.1s;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0%;
    z-index: 10;
}
.menu{
    background-color: #FFFFFF;
    transition: all 0.3s;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    max-width: 400px;
    width: 0%;
    z-index: 11;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
    box-shadow:#00000D 0 0 15px -6px;

    .header{
        background-color: #F6F6F6;
        padding: 10px;
        width: 100%;
        text-align: end;
    }
}
.cont-footer{
    border-top: #FFBC07 40px solid;
    background-color: #0F0F0F;
    padding-top: 60px;
    padding-bottom: 60px;

    .logo{
        display: block;
        max-width: 100%;
    }

    .vline-footer{
        height: 100%;
        width: 1px;
        background-color: #707070;
    }
    p{
        transition: all 0.3s;
        &:hover{
            color:#FFFFFF;
        }
    }
}

.box-fila2{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 53%;
    display: block;
}
.box-fila3{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 100%;
    border: #707070 1px solid;
    margin-bottom: 10px;
    display: block;
}
.titulo1{
    font-weight: 400;
    letter-spacing: -1px;
    font-size: 36px;
    b{
        font-weight: 900;
    }
}
.box-destacado{
    border: #707070 1px solid;
    border-radius: 20px;
    padding: 10px;
    display: block;

    .img-producto{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        padding-bottom: 87%;
    }
    .box-info{
        padding:10px 20px;
        .marca{
            color: #707070;
            font-size: 16px;
            line-height: 1;
            margin-bottom: 5px;
            font-weight: 400;
        }
        .nombre_producto{
            color: #707070;
            font-size: 18px;
            line-height: 1;
            margin-bottom: 5px;
            font-weight: 700;
            min-height: 45px;
            display: flex;
            align-items: center;
        }
        .line{
            height: 6px;
            width: 40%;
            background-color: #E3DCDC;
            margin-bottom: 5px;
        }
        .sku{
            color: #707070;
            font-size: 12px;
            line-height: 1;
            margin-bottom: 20px;
            font-weight: 400;
        }
        .precio_venta{
            color: #707070;
            font-size: 40px;
            line-height: 1;
            margin-bottom: 10px;
            font-weight: 900;
        }
        .precio_normal{
            color: #707070;
            font-size: 14px;
            line-height: 1;
            margin-bottom: 20px;
            font-weight: 400;
        }
    }
    
}
.box-promo1{
    background-color: #FFBC07;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 80%;
    display: block;
}
.box-promo2{
    background-color: #FFBC07;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 48%;
    margin-bottom: 1%;
    display: block;
}
.box-promo3{
    background-color: #FFBC07;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 31%;
    display: block;
}
.box_marca{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100px;
    display: block;
}

.bg-popup-login{
    background-color: rgba($color: #000000, $alpha: 0.5);
    transition: all 0.1s;
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 13;
}
.popup-login{
    position: fixed;
    display: none;
    z-index: 14;
    left: 0;
    right: 0;
    width: max-content;
    height: max-content;
    max-width: 96%;
    top: 0;
    bottom: 0;
    margin: auto;

    .btn-close-login{
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;
    }
}

.box-producto{
    background-color: #FFFFFF;
    padding: 10px;
    display: block;
    height: 100%;

    .img-producto{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        padding-bottom: 87%;
    }
    .box-info{
        padding:10px 20px;
        background-color: #FFFFFF;
        .marca{
            color: #707070;
            font-size: 16px;
            line-height: 1;
            margin-bottom: 5px;
            font-weight: 400;
        }
        .nombre_producto{
            color: #707070;
            font-size: 18px;
            line-height: 1;
            margin-bottom: 5px;
            font-weight: 700;
        }
        .line{
            height: 6px;
            width: 40%;
            background-color: #E3DCDC;
            margin-bottom: 5px;
        }
        .sku{
            color: #707070;
            font-size: 11px;
            line-height: 1;
            margin-bottom: 20px;
            font-weight: 400;
        }
        .precio_venta{
            color: #707070;
            font-size: 30px;
            line-height: 1;
            margin-bottom: 10px;
            font-weight: 900;
        }
        .precio_normal{
            color: #707070;
            font-size: 13px;
            line-height: 1;
            margin-bottom: 20px;
            font-weight: 400;
        }
    }
}
.btn-mod{
    color: #FFFFFF;
    width: 100%;
    border-radius: 30px;
    text-decoration: none;
    &:hover{
        color: #FFFFFF;
    }
}
.titulo_filtro{
    color: #000000;
    font-size: 18px;
    font-weight: bold;
}

.accordion-button {
    background-color: rgba($color: #FFBC07, $alpha: 0.05);
    color: #111;
}
.accordion-button:not(.collapsed) {
    color: #000;
    background-color: #FFBC07;
}


.img_main_producto{
    width: 100%;
}
.detalle-producto{
    background-color: #FFFFFF;
    padding:30px 10px;
    display: block;
    height: 100%;

    .img-producto{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        padding-bottom: 87%;
    }
    .box-info{
        padding:10px 20px;
        background-color: #FFFFFF;
        .marca{
            color: #707070;
            font-size: 16px;
            line-height: 1;
            margin-bottom: 5px;
            font-weight: 400;
        }
        .nombre_producto{
            color: #707070;
            font-size: 20px;
            line-height: 1;
            margin-bottom: 5px;
            font-weight: 700;
        }
        .line{
            height: 6px;
            width: 40%;
            background-color: #E3DCDC;
            margin-bottom: 5px;
        }
        .sku{
            color: #707070;
            font-size: 11px;
            line-height: 1;
            margin-bottom: 20px;
            font-weight: 400;
        }
        .precio_venta{
            color: #707070;
            font-size: 30px;
            line-height: 1;
            margin-bottom: 10px;
            font-weight: 900;
        }
        .precio_normal{
            color: #707070;
            font-size: 13px;
            line-height: 1;
            margin-bottom: 20px;
            font-weight: 400;
        }
    }
    .btn-mod{
        color: #FFFFFF;
        width: auto;
        padding-left: 40px;
        padding-right: 40px;
        border-radius: 30px;
        text-decoration: none;
        &:hover{
            color: #FFFFFF;
        }
    }
}
.titulo_detalle_producto{
    color: #707070;
    font-size: 20px;
    line-height: 1;
    margin-bottom: 20px;
    font-weight: 400;
    border-bottom: #dea405 2px solid;
    padding-bottom: 10px;
}
.box_resumen_compra{
    background-color: #FFFFFF;
    padding: 20px;

    .btn-mod{
        color: #FFFFFF;    
        border-radius: 30px;
        text-decoration: none;
        &:hover{
            color: #FFFFFF;
        }
    }
}
.link_menu{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
    font-size: 1rem;
    color: #111;
    text-align: left;
    background-color: rgba(255,188,7,0.05);
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: var(--bs-accordion-transition);
    font-weight: 400;
}
.active>.page-link, .page-link.active {
    z-index: 3;
    color: var(--bs-pagination-active-color);
    background-color: #000;
    border-color: #000;
}


/* OWL */
#carusel-destacados{
    .owl-dots{
        position: relative;
        width: 100%;
        margin-top: 10px;
    }
}
.owl-nav {
    position: absolute;
    height: 0;
    width: 100%;
    top: 34%;
}
.owl-dots{
    position: absolute;
    width: 100%;
    bottom: 0;
}
.owl-prev{
	position: absolute;
	left:20px;
    outline: none !important;
}
.owl-next{
	position: absolute;
	right:20px;
    outline: none !important;
}
.owl-nav .owl-prev, .owl-nav .owl-next {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Arial !important;
    font-size: 70px !important;
    line-height: 1 !important;
    color: #FFFFFF !important;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #FFBC07;
}
.owl-theme .owl-dots .owl-dot span {
    border: #707070 1px solid;
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #242424;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}
/* FIN - OWL */

//COLOR
.color-FFF{
    color:#FFFFFF;
}
.color-777{
    color:#777777;
}
.color-000{
    color: #000000;
}
.color-707070{
    color:#707070;
}
.color-FFBC07{
    color:#FFBC07;
}
.color-C6C6C6{
    color:#C6C6C6;
}
//FIN - COLOR
//BG COLOR
.bg-FFBC07{
    background-color: #FFBC07;
}
.bg-0F0F0F{
    background-color: #0F0F0F;
}
.bg-FFF{
    background-color: #FFFFFF;
}
.bg-F7F7F7{
    background-color: #F7F7F7;
}
.bg-F6F6F6{
    background-color: #F6F6F6;
}
//MARGIN
.ml-auto{
    margin-left: auto;
}
.mr-auto{
    margin-right: auto;
}
.w-max-content{
    width: max-content;
}
.size12{
    font-size: 12px;
}