

//LINE HEIGHT
@for $i from 1 through 4 {
	.lh#{$i} { line-height: $i; }
}

@for $i from 1 through 9 {
    .fw#{$i*100} { font-weight: 0 + ($i * 100); }
    .ls#{$i} { letter-spacing: 0px + $i; }
}
//MARGIN & PADDING
@for $i from -400 through 400 {
	.mt#{$i} { margin-top: 0px + $i; }
    .mtp#{$i} { margin-top: 0% + $i; }
    .mb#{$i} { margin-bottom: 0px + $i; }
    .mbp#{$i} { margin-bottom: 0% + $i; }
    .ml#{$i} { margin-left: 0px + $i!important; }
    .mlp#{$i} { margin-left: 0% + $i; }
    .mr#{$i} { margin-right: 0px + $i; }
    .mrp#{$i} { margin-right: 0% + $i; }
    
    .pt#{$i} { padding-top: 0px + $i; }
    .ptp#{$i} { padding-top: 0% + $i; }
    .pb#{$i} { padding-bottom: 0px + $i; }
    .pbp#{$i} { padding-bottom: 0% + $i; }
    .pl#{$i} { padding-left: 0px + $i; }
    .plp#{$i} { padding-left: 0% + $i!important; }
    .pr#{$i} { padding-right: 0px + $i; }
    .prp#{$i} { padding-right: 0% + $i; }

    .h#{$i} { height: 0px + $i; }
}

//FONT SIZE & WIDTH % & HEIGHT %
@for $i from 0 through 300 {
    .size#{$i} { font-size: 0px + $i; }
    .sizevh#{$i} { font-size: 0vh + $i; }
    
    .wp#{$i} { width: 0% + $i; }
	.hp#{$i} { height: 0% + $i; }
}
@for $i from 1 through 100 {
    .sizevw#{$i} { font-size: 0vw + ($i/10); }
}
//MIN HEIGTH
@for $i from 1 through 100 {
    .minh#{$i * 10} { min-height: 10px * $i; }
}
//MAX WIDTH
@for $i from 1 through 1200 {
    .minw#{$i} { min-width: 0px + $i; }
    .minwp#{$i} { min-width: 0% + $i; }

    .maxw#{$i} { max-width: 0px + $i; }
    .maxwp#{$i} { max-width: 0% + $i; }

    .maxh#{$i} { max-height: 0px + $i; }
    .maxhp#{$i} { max-height: 0% + $i; }
}

@media (max-width: 768px) {
    @for $i from 21 through 100 {
        .size#{$i} { font-size: 0px + ($i - 8); }
    }
}