.pointer{
    cursor: pointer;
}
.img-preview{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 60%;
}
.px2{
    padding-left: 2px;
    padding-right: 2px;
}